<!-- <div class="the_client_section">
    <div class="grid-container">
      <div class="title-box  client--col">
        Our Clients
      </div>
      <div class="image-box--left client--col">
        <img class="client-img" src = "./assets/images/panels.jpg"/>
      </div>
      <div class="image-box--center--left  client--col">
      <img class="client-img" src = "./assets/images/panels.jpg"/>

      </div>

      <div class="image-box--right  client--col ">
      <img class="client-img" src = "./assets/images/panels.jpg"/>

      </div>

      <div class="bottom-image-box--left  client--col">
      <img class="client-img" src = "./assets/images/panels.jpg"/>

      </div>
      <div class="bottom-image-box--center--left  client--col">
      <img class="client-img" src = "./assets/images/panels.jpg"/>

      </div>
      <div class="bottom-image-box--center--right  client--col">
        <img class="client-img" src = "./assets/images/panels.jpg"/>

      </div>

      <div class="bottom-image-box--right  client--col">
        <img class="client-img" src = "./assets/images/panels.jpg"/>

      </div>

    </div>
    <div class="client-grid">

      <div class="client--box  client--col">
        <img class="client-img" src = "./assets/images/f45.png"/>
        <p class="title"> Name of Company </p>
      </div>

      <div class="client--box  client--col">
        <img class="client-img" src = "./assets/images/f45.png"/>
        <p class="title"> Name of Company </p>
      </div>

      <div class="client--box  client--col">
        <img class="client-img" src = "./assets/images/f45.png"/>
        <p class="title"> Name of Company </p>
      </div>


      <div class="client--box  client--col">
        <img class="client-img" src = "./assets/images/f45.png"/>
        <p class="title"> Name of Company </p>
      </div>

      <div class="client--box  client--col">
        <img class="client-img" src = "./assets/images/f45.png"/>
        <p class="title"> Name of Company </p>
      </div>

      <div class="client--box  client--col">
        <img class="client-img" src = "./assets/images/f45.png"/>
        <p class="title"> Name of Company </p>
      </div>

    </div>
</div> -->
  <!-- <section class="gallery-section">
    <h1>Our Showcase Gallery</h1>
    <div class="gallery-grid">
      <div class="gallery-item">
        <img src="image1.jpg" alt="Gallery Image 1">
        <div class="overlay">
          <p>Client 1 - Residential</p>
        </div>
      </div>
      <div class="gallery-item">
        <img src="image2.jpg" alt="Gallery Image 2">
        <div class="overlay">
          <p>Client 2 - Commercial</p>
        </div>
      </div>
      <div class="gallery-item">
        <img src="image3.jpg" alt="Gallery Image 3">
        <div class="overlay">
          <p>Client 3 - Before & After</p>
        </div>
      </div>
      <div class="gallery-item">
        <img src="image4.jpg" alt="Gallery Image 4">
        <div class="overlay">
          <p>Client 4 - Scenic</p>
        </div>
      </div>
      <div class="gallery-item">
        <img src="image5.jpg" alt="Gallery Image 5">
        <div class="overlay">
          <p>Client 5 - Highlights</p>
        </div>
      </div>
      <div class="gallery-item">
        <img src="image6.jpg" alt="Gallery Image 6">
        <div class="overlay">
          <p>Client 6 - Stunning View</p>
        </div>
      </div>
    </div>
  </section> -->
