<div class="promise_container">

  <div class="promise_container--background"></div>

  <div class="promise_content_container">

    <div class="text_container">

      <p class="title">
          Our Promises
      </p>
      <p class="subtitle">

      </p>

      <div class="promise_container--text">

        <div class="promise_box promise_name--left promise_box--active" counter = "0">
          <p class="promise_name promise_name--value" >
            Client are our Top Priority
          </p>
        </div>

        <div class="promise_box promise_name--right" counter = "1">
          <p class="promise_name promise_name--value" >
            We are Consistent & Transparent
          </p>
        </div>

        <div class="promise_box promise_name--left" counter = "2">
          <p class="promise_name promise_name--value" >
            Our Prices are Competitve
          </p>
        </div>

        <div class="promise_box promise_name--right" counter = "3">
          <p class="promise_name promise_name--value" >
           We Work Around your Schedule
          </p>
        </div>

      </div>

    </div>

    <div class="promise_container--graphic">

      <span class="number_container" id="current_number">
        01
      </span>

      <div class="graphic_container">
          <p class="title" id = "current_title">Clients are our Top Priority</p>
          <p class="promise_text--description promise_text" id="current_description">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
          </p>
      </div>

    </div>

  </div>

</div>
