<div class="the_clients">
  <p class="title">Our Clients </p>

  <div class="the-grid">
    <div class="client-bubble client-bubble--active">
        <img src = "./assets/images/pj.png"/>
        <!-- <p class="title">Pita Jungle</p> -->
    </div>
    <div class="client-bubble">
        <img src = "./assets/images/art.png"/>
        <!-- <p class="title">Rachel's Art Studio</p> -->
    </div>
    <div class="client-bubble">
        <img src = "./assets/images/sims.png"/>
        <!-- <p class="title">Sims Business Systems</p> -->
    </div>
    <div class="client-bubble">
        <img src = "./assets/images/f45.png"/>
        <!-- <p class="title">F45</p> -->
    </div>
    <div class="client-bubble">
        <img src = "./assets/images/bkb.png"/>
        <!-- <p class="title">BKB</p> -->
    </div>
    <div class="client-bubble">
        <img src = "https://catapultu.com/wp-content/uploads/2017/11/UsEgg_logo-hero.png"/>
        <!-- <p class="title">U.S Egg</p> -->
    </div>


  </div>

</div>
