<div class="who_we_serve_container">

  <div class="content_container">

    <p class="title"> Who We Serve </p>

    <div class="overlay"></div>

    <div class="who_we_serve_container--left who_we_serve_container--inner">

      <div class="content_container">
        <img class="icon" src = "/assets/images/who/1.png"/>
        <p> Residential </p>
      </div>

    </div>

    <div class="who_we_serve_container--right who_we_serve_container--inner">

      <div class="content_container">
        <img class="icon" src = "/assets/images/who/2.png"/>
        <p> Commerical </p>
      </div>

    </div>

  </div>

</div>
