
  <section class="gallery-section">
    <div class="gallery-container">
      <h2 class="gallery-heading">Recent Window Cleaning Projects</h2>

      <div class="gallery-scroll">
        <!-- Repeat for 20+ images -->
        <div class="gallery-item"><img src="./assets/images/after_1.png" alt="Window 1"></div>
        <div class="gallery-item"><img src="./assets/images/after_2.png" alt="Window 2"></div>
        <div class="gallery-item"><img src="./assets/images/after_3.png" alt="Window 3"></div>
        <div class="gallery-item"><img src="./assets/images/after_4.png" alt="Window 4"></div>
        <div class="gallery-item"><img src="./assets/images/after_5.png" alt="Window 5"></div>
        <div class="gallery-item"><img src="./assets/images/after_6.png" alt="Window 6"></div>
        <div class="gallery-item"><img src="./assets/images/after_7.png" alt="Window 7"></div>
        <div class="gallery-item"><img src="./assets/images/after_8.png" alt="Window 8"></div>
        <div class="gallery-item"><img src="./assets/images/pannn.png" alt="Window 9"></div>
        <div class="gallery-item"><img src="./assets/images/pitaa.jpg" alt="Window 10"></div>
      </div>
    </div>
  </section>
  <div class="divider divider--gallery"></div>
