<div class="showcase_container relative">

  <div id="showcase_number"> 480-822-0511 </div>
  <div class="dirty_background"></div>

  <div class="landing_background--about">

      <div class="text-container">
        <p class="title"> Learn About Us</p>
        <p class="subtitle"> We are a team of window washers who grew up in this community, walking its streets and calling it home..</p>
      </div>
      <!-- <script src = "./assets/js/user/new_landing.js">


     </script> -->

  </div>

</div>
