


<section class="learn_about_me_section">

    <div class="learn-grid">

        <div class="heading-container">
          <svg width="300" height="20" xmlns="http://www.w3.org/2000/svg">
          <polyline points="0,10 10,0 20,10 30,0 40,10 50,0 60,10 70,0 80,10 90,0 100,10 110,0 120,10 130,0 140,10 150,0 160,10 170,0 180,10 190,0 200,10"
                    stroke="lightblue"
                    fill="none"
                    stroke-width="2" />
          </svg>

            <h2 class="title mrg-btm-sm">
                Hi! I'm <strong class="highlight">Marco</strong> the Owner!
            </h2>

            <p class="description mrg-btm-sm">
                I am a local window cleaner operator in Phoenix, Arizona!
            </p>

            <div class="btn-container mrg-btm-sm">
              <a href = "/contact_us">  <button class="btn btn--story">
                    Get Free Quote
                </button></a>
                <a href="mailto:marco@thewindowknight.com"><button class="btn--email btn">
                    Email Me!
                </button></a>
            </div>

            <p class="meet_team_text meet_team_text--paragraph">
              When I was a computer science major at ASU, I never imagined that I would develop a passion for cleaning windows. Pursuing my degree was proving to be quite costly, and I struggled to find time for a full-time job due to my class schedule. As the pressure mounted, I began to lose interest in computer science and felt increasingly behind in my life.
              <br>
              One day, while at my aunt's house, my mom remarked that her windows looked like they hadn’t been cleaned in years. My aunt offered me $100 to clean them, and I accepted. To my surprise, I found that I was quite efficient at the task, and I completed the job in no time. This experience sparked an idea: I realized I could turn this service into something more. A couple of weeks later, I started my own window cleaning company.
              <br>
              Not only have I found joy in window cleaning, but I have also loved working with local business owners and building relationships within the community. It may sound silly, but this business has given me a sense of purpose and hope. I now see a path to earn money while completing my degree.
              <br>
              I pour my heart and soul into every job, and I hope you’ll consider me for your window cleaning

            </p>

        </div>

        <div class="picture-container">
            <div class="picture picture--big">
              <img src = "./assets/images/photo_4.png">
            </div>
            <div class="picture picture--normal">
              <img class="picture" src = "./assets/images/new_me.png">
            </div>
        </div>

    </div>

</section>
