<section class="learn_about_me_section" aria-label="About The Window Knight Owner - Marco Khodr, Phoenix AZ Window Cleaner">

  <div class="learn-grid">

    <div class="heading-container">
      <svg width="300" height="20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" class="meet-owner--line">
        <polyline points="0,10 10,0 20,10 30,0 40,10 50,0 60,10 70,0 80,10 90,0 100,10 110,0 120,10 130,0 140,10 150,0 160,10 170,0 180,10 190,0 200,10"
                  stroke="lightblue"
                  fill="none"
                  stroke-width="2" />
      </svg>

      <h2 class="title mrg-btm-sm meet-owner-title">
        Hi! I'm <strong class="highlight">Marco</strong>, Your Window Cleaner in Phoenix!
      </h2>

      <p class="description mrg-btm-sm meet-owner-subtitle">
        I’m a local business owner providing top-quality residential and commercial window cleaning across Phoenix, Arizona.
      </p>

      <div class="btn-container mrg-btm-sm">
        <a href="/contact_us">
          <button class="btn btn--story meet-owner-btn--quote" aria-label="Get a free window cleaning quote in Phoenix, Arizona">
            Get Free Quote
          </button>
        </a>
        <a href="mailto:marco@thewindowknight.com">
          <button class="btn--email btn meet-owner-btn--email" aria-label="Email The Window Knight Owner">
            Email Me!
          </button>
        </a>
      </div>

      <p class="meet_team_text meet_team_text--paragraph meet-owner-desc">
        I began as a computer science major at ASU, but my path took a creative turn. After cleaning my aunt’s windows for $100 and realizing I had a natural talent, I started The Window Knight. What began as a side hustle transformed into a rewarding journey of building community, offering affordable and detailed window cleaning, and helping Phoenix residents enjoy clear views. This work has brought me purpose, flexibility, and the ability to serve others while completing my education.<br><br>
        Today, I work with local homeowners and business owners to bring sparkle to storefronts and living spaces alike. Every streak-free finish is a reflection of the pride I take in my craft. I hope to earn your trust and brighten your view.
      </p>
    </div>

    <div class="picture-container">
      <div class="picture picture--big meet-owner-picture--big">
        <img src="./assets/images/photo_4.png" alt="Up-close image of squeegee cleaning a window for a residential home in Phoenix" loading="lazy">
      </div>
      <div class="picture picture--normal meet-owner-picture--small">
        <img class="picture" src="./assets/images/new_me.png" alt="Photo of Marco Khodr, owner and operator of The Window Knight in Phoenix, Arizona" loading="lazy">
      </div>
    </div>

  </div>

</section>
