


<section class="learn_about_me_section">

    <div class="learn-grid">

        <div class="heading-container">
          <svg width="300" height="20" xmlns="http://www.w3.org/2000/svg">
          <polyline points="0,10 10,0 20,10 30,0 40,10 50,0 60,10 70,0 80,10 90,0 100,10 110,0 120,10 130,0 140,10 150,0 160,10 170,0 180,10 190,0 200,10"
                    stroke="lightblue"
                    fill="none"
                    stroke-width="2" />
          </svg>

            <h2 class="title">
                Hi! I'm <strong class="highlight">Marco</strong> the Owner!
            </h2>

            <p class="description">
                I am a local window cleaner operator in Phoenix, Arizona!
            </p>

            <div class="btn-container">
                <button class="story-btn">
                    My Story
                </button>
                <a href = ""><button class="story-btn">
                    Ask Me
                </button></a>
            </div>

        </div>

        <div class="picture-container">
            <div class="picture picture--big">
              <img src = "./assets/images/knight_background.png">
            </div>
            <div class="picture picture--normal">
              <img class="picture" src = "./assets/images/me.png">
            </div>
        </div>

    </div>

</section>
