<div class="meet_team_container">

  <div class="meet_team_container--overlay"></div>

  <div class="meet_team_container--banner">
      <p class="meet_team_text--headline meet_team_text"> Meet The Owner </p>
      <div class="arrow_graphic--team"></div>
  </div>

  <div class="meet_team_container--body">

    <div class="img_wrapper">
      <img class="team_cutout" src = "/assets/images/ceo.png"/>
    </div>

    <div class="text_wrapper">
        <p class="meet_team_text meet_team_text--title"> Marco Khodr MacEwen </p>
        <p class="meet_team_text meet_team_text--subtitle"> CEO & Founder </p>
        <p class="meet_team_text meet_team_text--paragraph">
          When I was a computer science major at ASU, I never imagined that I would develop a passion for cleaning windows. Pursuing my degree was proving to be quite costly, and I struggled to find time for a full-time job due to my class schedule. As the pressure mounted, I began to lose interest in computer science and felt increasingly behind in my life.
          <br>
          One day, while at my aunt's house, my mom remarked that her windows looked like they hadn’t been cleaned in years. My aunt offered me $100 to clean them, and I accepted. To my surprise, I found that I was quite efficient at the task, and I completed the job in no time. This experience sparked an idea: I realized I could turn this service into something more. A couple of weeks later, I started my own window cleaning company.
          <br>
          Not only have I found joy in window cleaning, but I have also loved working with local business owners and building relationships within the community. It may sound silly, but this business has given me a sense of purpose and hope. I now see a path to earn money while completing my degree.
          <br>
          I pour my heart and soul into every job, and I hope you’ll consider me for your window cleaning

        </p>
    </div>

  </div>

</div>
