<div class="mission_container">

    <div class="row mission_row">

        <div class="mobile-col-1 mission_col--divider"></div>

        <div class="col-12 mobile-col-10  mission_col">
            <p class="mission_text--title mission_text "> Our Mission </p>
            <p class="mission_text--description mission_text">
              Our mission is to revolutionize the facility services industry by fostering a team of people who care about the local community and are passionate about the customer.
            </p>

        </div>

    </div>

</div>
