<div class="mission_container" aria-label="The Window Knight Mission Statement - Phoenix Window Cleaning Company">

  <div class="row mission_row">

    <div class="mobile-col-1 mission_col--divider"></div>

    <div class="col-12 mobile-col-10 mission_col">
      <p class="mission_text--title mission_text">Our Mission</p>
      <p class="mission_text--description mission_text">
        At <strong>The Window Knight</strong>, our mission is to redefine window and exterior cleaning services in Phoenix, Arizona by building a team that truly cares. We are passionate about enhancing every home and business we touch—offering reliable, affordable, and high-quality window cleaning backed by exceptional customer service and a strong commitment to the local community.
      </p>
    </div>

  </div>

</div>
