<div class="what-we-do">
  <div class="what-we-do-inner">
    <div class="text-col">
      <h2 class="section-title">What We Do</h2>
      <p class="section-description">
        A business that looks well maintained is successful. Our company specializes in cleaning windows and patios to lessen your workload while making your business aesthetic look in top shape. Our services will be cost-effective to you and we are very flexible in our scheduling so we can come at the best days for you. Once you hire us, you can trust we will fully take care of any problem and spend time around the clock to make sure you can spend time on the things that matter the most.

      </p>
      <div class="link-row">
        <a href="/quote" class="link-btn">Free Quote</a>
        <a href="/#our_clients" class="link-btn">Contact Us</a>
        <a href="/#our_clients" class="link-btn">Our Work</a>
      </div>
    </div>
    <div class="bg-image"></div>
  </div>
</div>
