.quote_modal{
  width:100%;
  transition: all .4s;
  padding-top:0px;
  position: relative;
  overflow: hidden;
}

.quote_modal--active{
  padding-bottom: 20px;
  border-bottom:1px solid #e6e6e6;
}

.quote_modal--inactive{
  height: 0px;
}

.form_completed_button{
  background:cornflowerblue;
  color:white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  width:50%;
  margin-left:25%;
}

.quote_row{
  margin-top:20px;
}

#repeat{
  width:50px;
  height:50px;
}

.quote_completed_modal label{
  font-size:18px !important;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  padding-top:0px !important;
  margin-top:10px !important;
}

.quote_completed_modal input{
  margin-top:5px !important;
}

.quote_status_modal label{
  font-size:17px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  width:100%;
}

.quote_status_modal select{
  height:30px;
  width:50%;
  margin-left:0%;
  margin-top:5px;
  margin-bottom:10px;
  font-size:15px;
}

.subscribed--completed{
  color:dodgerblue !important
}

.form_status_button{
  width:50%;
  margin-left:0%;
  clear:both;
  float:left;
  background:black;
  color:white;
  font-size:16px;
  margin-top:20px;
  margin-bottom:20px;
}

.subscribed--loyal{
  color:fuchsia !important
}

.subscribed--schedule{
  color:darkgoldenrod !important
}

#status_text--choose{
  float:left;
  display: inline;
  margin-left:10px;
  font-size:20px !important;
}

.quote_status_modal .status_text{
  float:left;
  display: inline;
  font-size:20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.quote_status_modal select option{
  font-size:15px;
}

.updated_banner{
  width:100%;
  position: absolute;
  z-index:999;
  background: white;
  top:0%;
  text-align: center;
  font-size:16px;
  padding:10px;
  box-shadow:0px 0px 10px rgba(0,0,0,.5);
  transition: all .4s;
  transform: translateY(-10px);
  opacity:0;
}

.form_detail_button{
  color:white;
  font-size:20px;
}

.updated_banner--updated{
  transform: translateY(60px);
  opacity:1;
}

.form_detail_button{
  margin-top:2.5%;
}

.quote_modal--inactive *{
  visibility: hidden;
  opacity:0;
  width:0px;
  transform:translateY(-10px);
  height:0px;
}

.quote_modal--active *{
  opacity:1;
}

.quote_modal--active {
  transform:translateY(0px);
}

.form_detail_button{
  width:50%;
  height:40px;
  background:black;
  color:white;
  margin-left:25%;
}

.quote_detail_input{
  height:40px;
  font-size:20px;
}

label{
  font-size:20px !important;
  font-family: "Montserrat";
}
