.menu_container{
  padding:5px;
  width:100%;
  border-bottom:2px #e6e6e6 solid;
  overflow: hidden;
  padding-top:0px;
}

.prospect_menu{
  width:100%;
  padding:20px;
}

.admin_text--completed{
  float:right;
  width:50%;
  text-align: right;
}

.admin_text--quote{
  float:left;
  text-align: left;
  width:50%;
}

.add_prospect_button{
  width:30%;
  clear:both;
  background:black;
  border:none;
  color:white;
  height:40px;
  margin-top:2.5%;
  margin-left:5%;
  font-size:20px;
}

.add_prospect_button--g{
  width:30%;
  clear:both;
  background:black;
  border:none;
  color:white;
  height:40px;
  margin-top:2.5%;
  margin-left:5%;
  font-size:20px;
}

.choice_container{
  float: left;
  font-size:20px;
  margin-left:5%;
}

.add_prospect_button--g{
  width:100%;
}
