<%- include("./layout/blog/head.ejs") %>
<%- include("./layout/modal.ejs") %>

<div class="container-fluid page" >

  <div class="navbar_wrapper">
      <div class="navbar_container showcase_navbar">
        <%- include("./layout/navbar.ejs") %>
      </div>
  </div>

  <section id="blog-grid" class="blog-section">
    <div class="container">
      <h1 class="section-title">Latest from The Window Knight</h1>
      <div id="blogs" class="blog-grid"></div>
    </div>
  </section>

</div>

<%- include("./layout/blog/end.ejs") %>
