<div class="navbar_custom">

  <div class="banner">Reliable & Affordable Window Cleaning!</div>

  <div class="navbar_home n-desktop">
    <div class="logo-title-container">
      <img class="logo_new" src="/assets/images/new_logo.png" alt="Logo">
      <p class="link_nav--title">The Window Knight</p>
    </div>

    <ul class="nav_links">
      <li><a href="/" class="link_nav">Home</a></li>
      <li><a href="/blogs" target="_blank" class="link_nav">Window Washing 101</a></li>
      <li><a href="/about" class="link_nav">About Us</a></li>
      <li><a href="/contact_us" class="link_nav">Contact Us</a></li>
      <li class="q-btn"><a href="/quoter" target="_blank" class="link_nav">Free Quote</a></li>
    </ul>
  </div>

  <!-- Hamburger Button (Mobile Only) -->
  <div class="mobile-nav-toggle n-mobile">

    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="20" viewBox="0 0 28 20" fill="white" id="openSidebar">
      <rect width="28" height="3" rx="1.5"/>
      <rect y="8.5" width="28" height="3" rx="1.5"/>
      <rect y="17" width="28" height="3" rx="1.5"/>
    </svg>

  </div>

  <!-- Sidebar Menu -->
  <div class="mobile-sidebar n-mobile" id="mobileSidebar">
    <div class="sidebar-header">
      <span class="close-btn" id="closeSidebar">✖</span>
    </div>
    <nav class="sidebar-links">
      <a href="/">Home</a>
      <a href="/about">About Us</a>
      <a href="/contact_us">Contact Us</a>
      <a href="https://www.quotes.thewindowknight.com" target="_blank">Free Quote</a>
      <a href="https://www.quotes.thewindowknight.com" target="_blank">Window Washing 101</a>
    </nav>
  </div>

</div>
