<div class="showcase_container <%= showcase.className%>">

  <div class="row">

      <div class="col-4 showcase_col--logo">

          <div class="showcase_container--logo " >
            <img src = "./assets/images/logo.png" class="logo" />
          </div>

          <div class="showcase_container--background">  </div>

      </div>

  </div>

      <div class="intro-text-container showcase_container--text">

        <div class="showcase_text_inner_container">

          <h1 class="showcase_heading_container">

                <span class="showcase_heading showcase_heading--title"><%= showcase.heading_1 %></span>

                <div class="brs"></div>

                <span class="showcase_heading showcase_heading--subtitle">

                <%= showcase.heading_2 %>

                </span>

            </h1>

        </div>

        <div class="showcase_banner_row row relative">

            <div class="col-12">

              <div class='row relative'>
                <div class="col-12 dark-blue-background padding-2 showcase_banner showcase_banner--1"></div>
                <div class="col-5 padding-2 light-blue-background showcase_banner showcase_banner--2"></div>
              </div>

          </div>

        </div>

    </div>

  <div class="showcase_number">480-822-0511</div>

</div>
