

.landing_background--about{
  width:100%;
  height:105vh;
  overflow: hidden;
  position: relative;
  z-index: 99;
  opacity: 1;
  background:linear-gradient(140deg, rgba(0, 20, 30, 1), rgba(0, 35, 50, .5), rgba(0, 50, 70, .1)),url("./../../images/pann.png") no-repeat center center;
  filter: blur(0px) brightness(1);
  transform: scale(1);
  background-size: cover;
  background-position: top right;
  animation: squeegeeEffect 3s ease-out forwards;
  clip-path: inset(0 0 0 0); /* Fully cleared */
}

.landing_background--about .text-container{
  position: absolute;
  left:2.5%;
  top:15%;
  width:50%;
  transform: translateX(0%) scale(1);
  opacity: 1;
  filter: blur(0);
  font-size: 30px;
  font-family: "Teko";
  color:white;
  animation: 1 ease-in 2.5s textboxEntrance;
  padding:20px;
  perspective: 1000px;
  z-index: 999999;
}

.landing_background--about .text-container .title{
  padding:20px;
  font-size:80px;
  line-height: 1;
  text-shadow: 0px 0px 30px black;
}

.landing_background--about .text-container .subtitle{
  padding:20px;
  font-size:40px;
  text-shadow: 0px 0px 10px black;
  line-height: 1;
}

.landing_background--about .landing_img{
  width:100%;
  height:100%;
  position: absolute;
  top:0;
  z-index:99;
  left:0;
}

.landing_background--about .dirty_background{
  height:100vh;
  width:100%;
  position: absolute;
  z-index: 3;
  background:linear-gradient(rgba(173 ,216, 230,.1), rgba(44, 73, 119, .9)) , url("./../../images/pann.png") no-repeat center center;
  opacity:.9;
  filter:blur(30px);
}

.about-section {
  height: 100vh;
  background: linear-gradient(90deg, rgba(0, 20, 30, .95), rgba(0, 35, 50, .95), rgba(0, 50, 70, .95)), url("./../../images/knight_background.png") no-repeat center center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 2rem;
}

.about-overlay {
  max-width: 900px;
  text-align: center;
  padding: 3rem;
  background-color: rgba(0, 10, 20, 0.6);
  border-radius: 12px;
  padding-top:4rem;
  padding-bottom:4rem;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
}

.about-content h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.about-content h2 {
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
  color: #6ec1e4;
  margin-bottom: 20px;

}

.about-content p {
  font-size: 1.6rem;
  line-height: 1.6;
  margin-bottom: 2rem;
  color: #f0f4f8;
  margin-bottom: 20px;

}

.about-button {
  padding: 0.9rem 2rem;
  background-color: #0ea5e9;
  color: white;
  font-weight: 600;
  border-radius: 8px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.about-button:hover {
  background-color: #0284c7;
}
