.meet_team_container{
  width:100%;
  position: relative;
  height:100%;
  padding-bottom: 5%;
}

.meet_team_container--overlay{
  filter: blur(2px);
  position: absolute;
  background: linear-gradient(to right, rgba(3, 77, 118, .5),rgba(3, 77, 118, 1),rgba(3, 77, 118, 1),rgba(3, 77, 118, 1)), url("./../../images/ceo_b.png");
  top:0%;
  left:0%;
  width:100%;
  height:100%;
  z-index:29;
}

.meet_team_container--banner{
  width:100%;
  padding:30px;
  background:#004167;
  color:#e6e6e6;
  z-index: 99;
  position: relative;
}

.meet_team_text--headline{
  font-size:30px !important;
  font-weight:700;
  text-align: center;
  z-index: 99999;
  position: relative;
  z-index: 99;
  font-family:"Teko";
}

.meet_team_text{
  font-size: 20px;
  font-family:"Montserrat";
  z-index: 909;
  color:white;
  position: relative;
}

.arrow_graphic--team{
  clip-path: polygon(0 0, 50% 100%, 100% 0);
  position: absolute;
  width: 15%;
  bottom: -10%;
  left: 42.5%;
  z-index: 999;
  height: 200px;
  background:#004167;
  z-index: 99;
}

.meet_team_container--body{
  padding:30px;
  overflow: hidden;
  z-index: 99;
  position: relative;
  padding-bottom: 0px;
  padding-top:5%;
}

.img_wrapper{
  float:left;
  width:40%;
}

.img_wrapper img {
  width:80%;
}

.text_wrapper{
  padding:20px;
  float:left;
  width:50%;
}

.meet_team_text--title{
  font-weight:500;
  font-family:"Teko";
  font-size:30px;
}

.meet_team_text--subtitle{
  font-weight:300;
  font-family:"Teko";
  font-size:25px;
}

.meet_team_text--paragraph{
  font-weight:300;
  font-size:16px;
}

@media screen and (min-width:700px) and (max-width:900px) and (orientation:portrait){

  .meet_team_container--overlay{
    position: absolute;
    background: linear-gradient(to bottom, rgba(3, 77, 118, .5),rgba(3, 77, 118, 1),rgba(3, 77, 118, 1),rgba(3, 77, 118, 1)), url("./../../images/ceo_b.png");
  }

  .img_wrapper{
    float:left;
    width:70%;
  }
  .img_wrapper img{
    margin-left:27.5%;
  }

  .text_wrapper{
    padding:20px;
    float:left;
    width:100%;
  }

}
