.what-we-do {
  background: linear-gradient(to right, rgba(0, 35, 50, 1),rgba(0, 35, 50, .95), rgba(0, 35, 50, 0.5)),
              url('./../../images/what_we_do_new.png') center/cover no-repeat;
  color: white;
  padding: 6rem 2rem;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  height:100vh;
  /* justify-content: center; */
}

.what-we-do-inner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1200px;
  width: 100%;
  /* align-items: center; */
}

.text-col {
  flex: 1 1 100px;
  padding: 2rem;
}

.bg-image {
  flex: 1 1 400px;
  background: url('./../../images/what_we_do_new.png') center/cover no-repeat;
  height: 400px;
  display: none; /* Optional visual divider on desktop */
}

.section-title {
  font-size: 6rem;
  font-family: "Teko", sans-serif;
  font-weight: bold;
  margin-bottom: 1rem;
}

.section-description {
  font-size: 2rem;
  width:50%;
  line-height: 1.7;
  margin-bottom: 2rem;
}

.link-row {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.link-btn {
  font-size: 2.2rem;
  text-decoration: none;
  color: white;

  border-bottom: 2px solid #38b6ff;
  padding-bottom: 0.3rem;
  transition: 0.3s;
  text-decoration: none !important;
}

.link-btn:hover {
  color: orangered;
  border-color: orangered;
}

/* TABLET + MOBILE OPTIMIZATION */
@media (max-width: 1024px) {
  .what-we-do-inner {
    flex-direction: column;
  }

  .bg-image {
    display: none;
  }

  .section-title {
    font-size: 2.5rem;
    text-align: center;
  }

  .link-row {
    flex-direction: column;
  }
  .section-description {
    font-size: 3rem;
    text-align: justify;
  }
  .section-title {
    font-size: 9rem;
  }
  .link-btn {
    max-width:400px;
    text-align: center;
    text-decoration: none !important;
    font-size: 4.2rem;
  }

  .link-row {
    justify-content: center;
  }

  .link-btn {
    width: 100%;
    text-align: center;
  }
}
