@keyframes why_icon {
  0%{
    opacity:0;
    transform: translateY(-30px) rotateY(180deg);
  }
  100%{
    opacity:1;
    transform: translateY(0px) rotateY(0deg);
  }
}

@keyframes why_text {
  0%{
    opacity:0;
    transform: translateX(-30px);
  }
  100%{
    opacity:1;
    transform: translateX(0px);
  }
}


@keyframes values {
  0%{
    opacity:0;
    transform: scale(0);
  }
  100%{
    opacity:1;

    transform: scale(1) rotateZ(500deg);
  }
}
@keyframes subc{

  0%{
    opacity:0;
    transform: translateY(50px);
  }
  100%{
    opacity:1;
    transform: translateX(0px);
  }

}

.why_us_card img{
  opacity:0;
  transform: translateY(-30px) rotateY(180deg);
}

.why_us_card--active img {
  animation:why_icon .5s ease-in 1;
  opacity:1;
  transform: translateY(0px) rotateY(0deg);
}

.cleaning-grid {
  opacity:0;
  transform: translateX(-300px);
}

.cleaning-grid--active{
  animation:subc .5s ease-in 1;
  opacity:1 ;
  transform: translateX(0px);
}

.value-card{
  opacity:0;
  transform: translateY(-30px) rotateY(180deg);
}

.value-card--active {
  animation:why_icon .5s ease-in 1;
  opacity:1;
  transform: translateY(0px) rotateY(0deg);
}

.pulse_button{
  opacity:0 ;
  transform:scale(0) ;
}

.pulse_button--active{
  animation:values .5s ease-in 1;
  opacity:1 ;
  transform:scale(1) ;
}
