.pd{
  padding:30px
}
@media screen and (max-width:1100px) and (min-width:700px) and (orientation:portrait){
  .landing_background--about .text_container {
    width:75% !important;
    top:10% !important;
  }
  .landing_background--about .text_container .title {
    font-size:120px!important;
  }
  .landing_background--about .text_container .subtitle {
    font-size:70px !important;
  }
  .hero-container{
    width:200% !important;
    left:-20% !important;
    bottom:-7.5% !important;
  }
  .rain_check_container {
    margin-top:110% !important;
  }

  .signal_container .text-container{
    width:80%;
  }

  .signal_container{
    height:70vh !important;
  }

  .city{
    bottom:50% !important;
    height:60% !important;
  }

  .box-f{
    width:90% !important;
    margin-left:5% !important;
  }

  .light{
    height:100px !important;
    width:100px !important;
  }

  .her{
    opacity:0 !important;
  }
  .circle-light{
    right:20% !important;
    top:10% !important;
  }

}
@media screen and (max-width:690px){
  .navbar_custom{
    margin-left:10px !important;
    margin-top:10px !important;
  }
  #showcase_number{
    z-index: 9;
  }
  .active-navbar{
    padding-top:40px;
    margin-top:-70px;
    height:100%;
    z-index: 9999999;
    position: relative;
    transition: all .5s;
    opacity:1;
    height:350px;
    /* animation:  none !important; */
    background: linear-gradient(90deg, rgba(0, 20, 30, 1), rgba(0, 35, 50, 1), rgba(0, 50, 70, 1));
  }

  #showcase_number{
    z-index: 999;
  }
  .landing_background{
    background-position-x:left !important
  }
  .pd{
    padding:0px !important;
  }
  .why_choose_us_container{
    margin-top:65% !important;
    padding:30px;
    padding-top:15%;
    padding-bottom:20%;
    line-height: 1.1;
  }
  html,body{
    overflow-x: hidden;
    scrollbar-width: none;
  }
  .landing_background .text-container{
    left:0 !important;
    top:15% !important;
    width:100% !important;
  }
  .landing_background .text-container .title{
    font-size:70px !important;
  }
  .why_us_col{
    max-width:100% !important;
    flex: 0 0 100% !important;
  }
  .content_value_container--title{
    width:90% !important;
    padding-left:0 !important
  }
  .value_banner{
    top:75% !important;
  }
  .subscribe_container--form{
    width:90% !important;
  }
  .content .text_container .title{
    font-size:50px;line-height:1.1;
  }
  .content .text_container .subtitle{
    font-size:40px;line-height:1.1;
    margin-top:10px;
  }
  .subscribe_container--form{
    width:100% !important;
    margin-left:0% !important;
    padding-bottom:70px !important;
  }
  .knight_container {
    top:45%;
    width:85%;
  }
  .work-grid{
    grid-template-columns: 100%;
    padding:30px;
    padding-top:60px;
    padding-bottom: 80px;
  }
  .subscribe_button{
    margin-top:25%;
    width:90%;
    margin-left:5%;
  }
  .subscribe_container--form .content .subtitle{
    font-size:30px;
  }
  .talent_container .title{
    padding-bottom:50px
  }
  .photo-grid img {
    opacity:0 !important;
  }
  .review-grid{
    text-align: center !important;
    grid-template-columns: 100%;
  }
  .client_slide_box .title{
    padding-left:0 !important;
  }
  .slide-grid{
    grid-template-columns: 100%;
  }
  .arrow_container--carousel {
    color: white !important;
    top:80% !important;
  }
  .client_slide_box .title {
    padding:0;
    padding-top:20px;

    font-size:35px;
  }
  .the_work_container{
    padding-left:0 !important;
    padding-right:0 !important;
  }
  .subscribe_container{
    margin-top:0px !important;
  }

  .client--logo{
    margin-left:25% !important;
    width:30% !important;
    height:100% !important;
  }
  .subscribe_container--form label{
    margin-top:15%;
  }
  .showcase_container{
    margin-top:0% !important;
  }
  .client_carousel{
    margin-top:250% !important;
  }
  .content_value_container--value{
    width:100% !important;
    left:0% !important;
    top:400px !important;
  }
  .value_detail_col{
    margin-top:20px !important;
  }

}
@media screen and (max-width:1000px) and (min-width:590px) and (orientation:landscape){
    .landing_background .text-container{
      width:60% !important;
    }
    .company_values_container{
      margin-top:10% !important;
    }
    .value_banner{
      width:30% !important;
    }
    .value_detail_box .title{
      font-size:20px !important;
    }
    .client_carousel{
      margin-top:50% !important;
      height:160vh !important;
    }

    .arrow_container--carousel{
      top:20% !important;
      color:white !important;
    }
    .client_slide_box .review{
      width:80% !important;
      padding-left:0px !important;
      font-size:16.5px !important;
    }
    .slide-grid{
      grid-template-columns: 65% 10% !important;
      padding-top:30px !important;
    }
    .work-grid{
      grid-template-columns: 100% !important;
    }
    .name-box .title{
      font-size:50px !important;
    }
}
