.company_values_container--mobile{
  position: fixed;
  z-index: -99;
  visibility: hidden;
}
@media screen and (orientation: portrait){
    body{
      overflow-x: hidden;
    }
    .home-title strong {
      font-size:200px;
    }
    .landing_background .text-container {
      width:100%;
    }
    .knight_container{
      width:100%;
      margin-top:80%;
      transform: translateX(200px);
    }
    .why_choose_us_container{
      transform: translateY(-150px);
    }
    .why_us_col{
      width:100%;
      max-width: 100%;
      flex:100%;
      margin-bottom: 30px;
    }
    .why_us_img {
      width:33% !important;
      justify-self:center;
      margin-left:35%;
    }
    .why_us_text {
      font-size:50px;
    }
    .section_text{
      font-size:100px;
      margin-top:2.5%;
      margin-bottom:50px;
    }
    .content_value_container--value{
      width:90% !important;
    }
    .value_detail_container{
      margin-top:10%;
    }
    .value_banner{
      top:35%;
      width:90%;
    }
    .content_value_text--title{
      font-size:155px;
      width:100%;
      top:-5% !important;
    }
    .value_detail_box .title{
      font-size:55px;
    }
    .pricing-section{
      padding-top:5% !important;

    }
    .price-item{
      display: flex;
  flex-direction: column !important;
  justify-content: space-between;
  border-bottom: 1px solid #1e3a4c;
  padding: 1.2rem 0;
  font-size: 1.1rem;
    }.price-item span {
      font-size:30px;
    }
    .calculator-section h3{
        font-size:45px;

    }
    .estimate-box{
          margin-top: 50px;
    }
    .twk-review-card{
      font-size:30px;
    }
    .twk-review-text{
      font-size:25px;
    }
    .tk-section .watermark {
    transform: translateX(200px) translateY(700px);
    bottom: 0%;
  }
  .content .text_container .title{
    margin-bottom: 0px;
  }
  .calculator-section{
        width: 90%;
  }
  .content .text_container .subtitle{
    margin-top: -15px;
    margin-bottom:5%;
  }
  #subscribe input{
    font-size:30px;
  }
    .twk-review-author{
      font-size:20px;
      font-weight: bold;
    }
    .tk-section{
      padding-bottom:20%
    }
    .twk-review-grid{
      margin-top:20%;
    }
    .tk-section{
      margin-top:-25%;
    }
    .twk-review-grid{
      grid-template-columns: repeat(2,1fr);
    }
    .slide-content {
      height:70%;
    }
    .calculator-section{
      padding-bottom: 20%;
    }
    .tkw-review-grid{
          grid-template-columns: repeat(2, 1fr);
    }
    .price-item span {
      font-size:30px;
      padding-bottom: 20px;
          margin-top: 10px;
    }
    .calc-row label{
      font-size:30px !important;
    }
    .estimate-box{
      font-size:25px;
    }
    #interiorTotal{
      font-size:25px;
    }
    #fullTotal{
      font-size:25px;
    }
    .estimate-box .title{
      font-size:30px;
    }
    .slideshow-section{
      padding-top:15%;
    }
    .price-item .title {
      font-size:30px;
      margin-top: 10px;
      padding-bottom: 5px;
    }
    .price-grid{
      display: grid;
      padding:50px;
          grid-row-gap: 15%;
      grid-template-columns: repeat(1,1fr);
    }
    .content_value_container--title{
      width:100%;
    }
    .content_value_text--learn{
      font-size:40px;
    }
    .content_value_text--subtitle{
      font-size:35px;
    }
    .content_value_container--value{
      margin-top:30%;
    }
    .company_values_container{
      height:55vh;
    }
    .why_choose_us_container .watermark{
      width: 200%;
      position: absolute;
      top: 30%;
    }
    .estimate-box{
      padding-top:10px;

    }
    .value_banner--active{
      height:250px
    }
    .estimate-box p{
      margin-top:20px;
    }
    .estimate-box h4{
      margin-top:30px;
    }


}

.showcase_container--mobile{
  position: absolute;
  z-index: -90;
  visibility: hidden;
}

@media screen and (max-width: 360px) {
  /* very small screen tweaks */
}

/* Standard phones (portrait) */
@media screen and (max-width: 480px) {


  .slide-text{
    position: absolute;
    bottom: 70%;
    left: 0rem;
    z-index: 3;
    background: linear-gradient(90deg, rgba(0, 20, 30, 1), rgba(0, 35, 50, 1), rgba(0, 50, 70, 1));
    padding: 1.5rem 3rem;
    /* border-radius: 12px; */
    /* max-width: 700px; */
    width:100%;
    max-width: 100% !important;
    padding-bottom: 3rem;
    border-radius:0px;
  }
#fullTotal{
  margin-top:-1px;
}
.subscribe_container{

}
.subscribe_container .text_container .title {
    font-size: 35px;
}
.subscribe_container .text_container .subtitle {
    font-size: 20px;
    font-weight: "Lato" !important;
}
.gallery-section{
  position: fixed;
  z-index:-11;
  visibility: hidden;
}
.subscribe_button {
  margin-left:0%;
}
  .swiper{
    margin-top: -35% !important;
  }
  .label--review::before{
    transform: translateX(-50px);
font-size: 50px;
  }
  .subscribe_container{
    padding:12px;
  }
  #subscribe {
     width: 100%;
     margin-left: 0%;
}
  .subscribe_container--form{
    width:100%;
    margin-top:5%;
    margin-left:0%;
  }
  .twk-review-grid {
          grid-template-columns: repeat(1, 1fr);
      }
  .slideshow-section{
    margin-top:40% !important;
  }
    .label--work::before {
        text-align: center !important;
        width: 100% !important;
        position: relative;
        right:20px;
        justify-self:center;
        font-size: 50px !important;
    }


  .slide-text .btn{
    font-size:1.2rem !important;
  }
  .slide-text h2 {
    font-size:2rem;
  }
  .slide-text p {
    font-size:1.5rem;
    font-weight: 500;
  }
  .showcase_container--mobile{
    position: relative;
    z-index: 900;
    visibility: visible !important;
    background: linear-gradient(to left bottom, rgba(0, 20, 30, 1),rgba(0, 20, 30, .9),rgba(0, 20, 30,.9), rgba(0, 35, 50, .9), rgba(0, 50, 70, .9)),url("./../../images/slant.png");
  }

  .company_values_container{
    visibility: hidden;
    z-index: -99;
    position: fixed;
  }

  .company_values_container--mobile{
    /* background: linear-gradient(90deg, rgba(0, 20, 30, 1), rgba(0, 35, 50, 1), rgba(0, 50, 70, 1)); */
    align-items: center;
    padding:5%;
    position: relative;
    margin-top:-40%;
    height:100%;
    z-index: 999999;
    visibility: visible;
    background:white;
    color:black;
    font-family: "Lato";
  }
  .c2ontent{
      background: linear-gradient(90deg, rgba(0, 20, 30, 1), rgba(0, 35, 50, 1), rgba(0, 50, 70, 1));
  }
  .why_choose_us_container{
    background:none !important;
  }
  .company_values_container--mobile .title{
    color:lightblue;
    font-size:40px;
    text-transform: capitalize;
    font-weight: normal;
    font-family: "Lato";
    margin-top:5%;

    color:rgba(0, 20, 30, 1)
  }

  .company_values_container--mobile .divider{
    font-size:40px;
    font-weight: 300;
    color:rgba(0, 20, 30, 1)
  }

  .section_text{
    font-size:50px;
  }

  .company_values_container--mobile .description{
    font-size:18px;
    color:rgba(0, 20, 30, 1);
  }
  .pricing-section{
    margin-top:-40%;

  }
      .slideshow-section {
        margin-top:30%;
      }
  .calculator-section{
    padding:10px;
  }
  .line{
    visibility: hidden;
  }
  .price-grid{
    padding:40px;
  }
  #interiorTotal, #fullTotal{
    font-size:18px !important;
  }
  .estimate-box p {
    font-size:18px;
  }
  .calculator-section {
    background:none !important;
  }
  .why_us_row{
    padding:20%;
    padding-top:0%;
  }
  .why_us_text {
    font-size:30px;
  }
  .watermark{
    width:500%;
    top:-30%;
  }

  .company_values_container--mobile .learn-more{
    font-weight:700;
    color:white;
    background:rgba(0, 20, 30, 1);
    font-size: 18px;
    padding: 10px;
    width: 150px;
  }

  .showcase_container{
    position: fixed;
    z-index: -1000;
    visibility: hidden !important;
  }

  .landing_background .text-container .title{
    font-size:120px;
    text-align: center;
  }

  .landing .logo{
    line-height: 1.2;
    padding-left: 20px;
    text-align: left;
    font-size: 65px;
    margin-bottom:20px;
  }

  .landing{
    color: white;
    padding-top: 30%;
    justify-content:  start;
  }

  .tagline {
    text-align: center;
    margin-top: 20px;
    font-size: 3rem;
    margin-bottom: 1rem;
    font-weight: 600;
    padding-left: 5%;
  }

  .why_choose_us_container{
    margin-top:38% !important;
  }
  .landing .description {
      font-size: 1.5rem;
      max-width: 100% !important;
      margin-bottom: 2rem;
      line-height: 1.6;
      padding-left: 5%;
      text-align: center;
  }

  .cta-button {
  background: linear-gradient(to right bottom, rgba(0, 20, 30, 1), rgba(0, 35, 50, 1), rgba(0, 50, 70, 1));
    color: #0f172a;
    font-size: 2rem;
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

  .landing_background .text-container .title strong{
    font-size:100px;
  }

  .landing_background .text-container .subtitle {
    display: block;
    width:80%;
    margin-left:10%;
    padding:20px;
    line-height: 2;
  }

  .header-price h1{
    font-size:70px;
    opacity:.2;
    margin-top:5%;
    text-align: center;
  }

  .calculator-section{
    margin-top:-180px;
  }

  .calc-row{
    flex-direction: column;
  }

  .calc-row label{
    font-size:15px !important;
  }

  .calc-row input{
    font-size:15px !important;
  }

  .estimate-box .title{
    font-size:20px;
  }

  .estimate-box p{
      font-size:20px;
  }

  .pricing-section{
    overflow: visible;
  }

  .slideshow-section{
    margin-top:100%;
    padding-left:2.5rem;
    padding-right: 2.5rem;
  }

  .label--work::before{
    width:70%;
    font-size:100px;
  }

  .price-grid{
    margin-top: -100px;
  }

  .swiper{
    height:70%;
    margin-top: 10%;
  }

  .slide-text{
    max-width:200px;
    bottom:0%;
    font-size:20px !important
  }

  .slide-text p {
    font-size:2rem;
  }

  .slide-text button{
    font-size:15px;
  }

  .label--review::before{
    font-size:80px;
  }

  .tk-section{
    margin-top:-125%;
  }

  .twk-review-grid {
    margin-top: 40%;
}

  .tk-review-grid{
    grid-template-columns: repeat(1,1fr);
  }

  .subscribe_container--form{
    padding:30px;
    padding-bottom:15%;
  }

  .subscribe_container{
    padding-bottom:10%;
  }

  .work::before{
    margin-top:20%;
    font-size:8 5px;
  }

  #subscribe input{
    font-size:20px;
  }

  .subscribe_button{
    width:100%;
    margin-top:10%;
  }

  .knight_main{
    width:130%;
    left:-30%;
  }

  .pos-f-t{
    top:505% !important;
  }

  .why_choose_us_container {
    margin-top:105%;
  }

  .company_values_container {
    height:85vh;
  }

  .content_value_container--title{
    bottom:40%;
  }

  .value_detail_box .title{
      font-size:30px;
    }

  .value_detail_container{
      margin-top:90%;
    }

  .content_value_text--subtitle{
      font-size:25px;
      width:80%;
    }

  .content_value_text--title{
      font-size:125px;
      width:80%;
    }

  .content_value_text--learn{
      font-size:30px;
      margin-bottom: 30px;
    }

  .value_banner{
      top:95%;
    }

    .tk-section .watermark {
    transform: translateX(00px) translateY(1200px);
    bottom: 0%;
}
.tk-section .watermark {
    filter: brightness(.04);
    opacity: .1;
    position: absolute;
    right: 0%;
    width: 272%;
    transform: translateX(500px) translateY(00px);
    bottom: 0%;
}
}

/* Large phones and small tablets (portrait) */
@media screen and (max-width: 768px) {
  /* mobile layout styles */
}

/* Tablets (portrait and landscape) */
@media screen and (min-width: 769px) and (max-width: 1024px) {

  .showcase_container{
    height:100vh;
    z-index: 999999;
  }
  .landing_background .text-container{
    top:22.5%;
  }
  .why_choose_us_container{
    margin-top:35%;

  }
  .why_us_img{
    width:20%;
    margin-left: 40%;
  }
  .why_us_text{
    font-size:40px;
    margin-bottom:5%;
  }

  .value_banner{
    top:45%;
    height:50px;
  }
  .value_detail_row{
    margin-top:-30%;
  }
  .value_detail_col{
    width:50%;
    flex:50%;
    max-width: 50%;
  }
  .value_detail_box .title{
    font-size:40px;
  }
  .gallery{
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  }
  .subscribe_button{
    font-weight: bold;
  }
  #subscribe input{
    font-size:16px;
  }
  .line{
    top:100px;
  }
  #showcase_number a{
    font-size:30px;
    font-weight: 500;
  }

}

/* Laptops */
@media screen and (min-width: 1025px) and (max-width: 1440px) {
  /* desktop styles start here */
}

/* Large desktops */
@media screen and (min-width: 1441px) {
  /* wide screen enhancements */
}
