@media screen and (orientation: portrait){
    body{
      overflow-x: hidden;
    }
    .home-title strong {
      font-size:200px;
    }
    .landing_background .text-container {
      width:100%;
    }
    .knight_container{
      width:100%;
      margin-top:80%;
      transform: translateX(200px);
    }
    .why_choose_us_container{
      transform: translateY(-150px);
    }
    .why_us_col{
      width:100%;
      max-width: 100%;
      flex:100%;
      margin-bottom: 30px;
    }
    .why_us_img {
      width:33% !important;
      justify-self:center;
      margin-left:35%;
    }
    .why_us_text {
      font-size:50px;
    }
    .section_text{
      font-size:100px;
      margin-top:2.5%;
      margin-bottom:50px;
    }
    .content_value_container--value{
      width:90% !important;
    }
    .value_detail_container{
      margin-top:10%;
    }
    .value_banner{
      top:35%;
      width:90%;
    }
    .content_value_text--title{
      font-size:155px;
      width:100%;
      top:-5% !important;
    }
    .price-grid{
      display: grid;
      padding:50px;
          grid-row-gap: 15%;
      grid-template-columns: repeat(2,1fr);
    }
    .content_value_container--title{
      width:100%;
    }
    .content_value_text--learn{
      font-size:40px;
    }
    .content_value_text--subtitle{
      font-size:35px;
    }
    .content_value_container--value{
      margin-top:30%;
    }
    .company_values_container{
      height:40vh;
    }
    .why_choose_us_container .watermark{
      width: 200%;
      position: absolute;
      top: 30%;
    }
    .value_detail_col{
      width:25%;
      flex:25%;
      max-width:25%;
    }

}
