.window-cleaning-section {
  background: linear-gradient(90deg, rgba(0, 20, 30, 1), rgba(0, 35, 50, 1), rgba(0, 50, 70, 1));
  color: white;
  padding: 4rem 2rem;
}

.window-cleaning-container {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  padding:2.5%;
  gap: 3rem;
  padding-top: 0%;
  align-items: center;
}

.window-cleaning-left {
  flex: 1;
  min-width: 300px;
}

.window-cleaning-right {
  flex: 1;
  min-width: 300px;
}

.window-cleaning-right img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.6);
}

.cleaning-title {
  font-size: 5rem;
  font-weight: bold;
  font-family: "Teko", sans-serif;
  margin-bottom: 0.5rem;
  color: #ffffff;
}

.cleaning-subtitle {
  font-size: 2rem;
  color: #cde7f2;
  margin-bottom: 2rem;
}

.cleaning-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1.5rem;
  margin-top: 5%;
}

.cleaning-item {
  text-align: center;
}

.cleaning-item img {
  height: 48px;
  margin-bottom: 0.5rem;
  filter: invert(90%) sepia(5%) saturate(300%) hue-rotate(180deg) brightness(120%) contrast(90%);
}

.cleaning-item p {
  font-size: 1.5rem;
  font-weight: 600;
  color: #e6f9ff;
}


@media (max-width:1024px){
  .window-cleaning-container {
    display: block;
  }
  .cleaning-grid {
    margin-top:10%;
    margin-bottom: 10%;
  }


  .label--work{
        transform: translateX(30px);
  }
  .twk-review-grid{
    height: 100vh;
    overflow-y: scroll;
    grid-template-columns: repeat(1, 1fr) !important;
  }
}

@media (max-width:400px){
  .review-grid {
    display: grid;
    gap: 2rem;
    margin: 0 auto 3rem auto;
    grid-template-columns: 1fr;

   }
   .review-section h2{
      font-size: clamp(4.2rem, 5vw, 4rem);
   }
   .trusted-section h2 {
    font-size: clamp(5rem, 5vw, 8rem);
    font-family: 'Teko', sans-serif;
    margin-bottom: 0.5rem;
  }
  .trusted-grid{
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr)) !important;
  }
}

@media (max-width:844px) and (orientation:landscape){
  .review-grid{
    grid-template-columns: 50% 50%;
  }
}
