.landing_background{
  width:100%;
  height:105vh;
  overflow: hidden;
  position: relative;
  z-index: 99;
  opacity: 1;
  background:linear-gradient( 130deg,  rgba(0, 20, 30, 1),rgba(0, 20, 30, .9), rgba(0, 35, 50, .7), rgba(0, 35, 50, .3), rgba(0, 50, 70, 0)),url("./../../images/knight_background.png") no-repeat center center;
  filter: blur(0px) brightness(1);
  transform: scale(1);
  /* background: linear-gradient(90deg, rgba(0, 20, 30, 1), rgba(0, 35, 50, 1), rgba(0, 50, 70, 1)); */

  background-size: cover;
  animation: squeegeeEffect 3s ease-out forwards;
  clip-path: inset(0 0 0 0);
}

.home-title strong{
  font-size:160px;
  font-weight:600;
}


.wet-window {
  width: 100%;
  background:black;
  opacity:.2;
  filter:blur(30px);
  height: 100vh;
  background-size: cover;
  animation: squeegeeEffect 4s ease-out forwards;
}


.landing_background .text-container{
  position: absolute;
  left:2.5%;
  top:15%;
  width:50%;
  transform: translateX(0%) scale(1);
  opacity: 1;
  filter: blur(0);
  font-size: 30px;
  font-family: "Teko";
  color:white;
  animation: 1 ease-in 2.5s textboxEntrance;
  padding:20px;
  perspective: 1000px;
  z-index: 999999;
}

.landing_background .text-container .title{
  padding:20px;
  font-size:130px;
  line-height: 1;
  text-shadow: 0px 0px 30px black;
}

.landing_background .text-container .subtitle{
  padding:20px;
  box-shadow: 0px 0px 10px rgba(0,0,0,.9) !important;
  font-size:35px;
  margin-left: 15px;
  border-radius:20px;
  background: linear-gradient(to right bottom,  rgba(0, 50, 70, 1), rgba(0, 50, 70, 1),rgba(0, 20, 30, .9));
  line-height: 1;
  display: inline;
}

.landing_img{
  width:100%;
  height:100%;
  position: absolute;
  top:0;
  z-index:99;
  left:0;
}

.dirty_background{
  height:100vh;
  width:100%;
  position: absolute;
  z-index: 3;
  background:linear-gradient(rgba(173 ,216, 230,.1), rgba(44, 73, 119, .9)) , url("./../../images/knight_background.png") no-repeat center center;
  opacity:.9;
  filter:blur(30px);
}

.sparkle{
  width:30px;
  z-index:99999999999;
  height:30px;
  position: absolute;
  opacity:0;
  filter: invert(52%) sepia(85%) saturate(893%) hue-rotate(177deg) brightness(104%) contrast(100%);
  animation: 1 ease-in 1s sparkle;
}

.knight_container{
  width:55%;
  position: absolute;
  z-index: 999;
  right:5%;
  box-shadow: 0 0 15px rgba(255, 215, 0, 0.5);
}

.knight_container .glow{
  width:500px;
  position: absolute;
  left:20%;
  top:20%;
  z-index: 9;
  height:500px;
  background:lightblue;
  filter:blur(5px);
  opacity:.1;
  animation: infinite ease-in 5s glowing;
  border-radius:50%;
}

.knight_main{
  width:100%;
  position: absolute;
  z-index: 999;
  animation: 1 ease-in 2s knight_appear;
  transform: translateX(0%) scale(1)  translateY(100px);
  opacity: 1;
  animation-delay:.5s;
  filter: blur(0);
}
