.subscribe_container{
  width:100%;
  position: relative;
  z-index:999;
  overflow: hidden;
  color:white;
  padding:20px;
  /* margin-top:40px; */
  padding-bottom:10%;
  padding-top:10%;
}

.subscribe_input{
  margin-top:10px;
}

.sub-b{
  background-size: cover !important;
  background-position: right top;
  background:linear-gradient(to right bottom , rgba(0, 0, 0,.5),rgba(66,57,101,.7)),url("./../../images/pannn.png");
  position: absolute;
  height:120%;
  left:0;
  top:0;
  transform: rotateZ(-360deg);
  width:100%;
  filter:blur(2px);
}

.content{
  position: relative;
  z-index: 999999999;
}

.sub--b{
  background-size: cover !important;
  background-position: right top;
  position: absolute;
  height:100%;
  width:100%;
  left:0;
  top:0;
  background:rgba(66,57,101,1);
  opacity: 1;
  background: linear-gradient(to right bottom,rgba(0, 35, 50, 1),rgba(0, 35, 50, 1));

}

 .text_container .subtitle{
  margin-top:-20px !important;
}
.subscribe_container--form{
  padding:20px;
  padding-bottom:5%;
  width:80%;
  margin-left:10%;
  z-index:999;
  align-items: center;
  box-shadow: 0px 0px 10px rgba(0,0,0,.5);
  position: relative;

}

.subscribe_container--form label{
  font-family: "Teko" !important;
  font-size: 20px !important;
  text-align: left !important;
}

.subscribe_container--form .text_container{
  font-size:20px;
  font-family: "Montserrat"
}

.subscribe_container--form .text_container .title{
  font-size:30px;
}

.subscribe_button{
  background:#38b6ff;
  color:white;
  border:none;
  font-size:25px;
  width:50%;
  margin-top:5%;
  margin-left: 25%;
  box-shadow: 0px 0px 10px rgba(0,0,0,.5);
  font-weight:200;
  font-family: "Montserrat"
}

.subscribe_container .text_container{
  text-align: center;
  font-family: "Teko"
}

.subscribe_container .text_container .title{
  font-size: 60px;
}

.subscribe_container .text_container .subtitle{
  font-size: 30px;
}
#subscribe{
  width:80%;
  margin-left:10%;
}

 #subscribe textarea{
   font-size:18px;
 }
 #subscribe input{
   padding: 20px;
   font-family: "Lato";
   font-size: 15px;
   border: 2px solid #ddd;
   border-radius: 5px;
   transition: border 0.3s ease;
}
