.subscribe_container{
  width:100%;
  position: relative;
  z-index:999;
  overflow: hidden;
  color:white;
  padding:20px;
  margin-top:40px;
  padding-bottom:10%;
  padding-top:10%;
}

.sub-b{
  background-size: cover !important;
  background-position: right top;
  background:linear-gradient(to right bottom , rgba(0, 0, 0,.5),rgba(66,57,101,.7)),url("./../../images/pannn.png");
  position: absolute;
  height:120%;
  left:0;
  top:0;
  transform: rotateZ(-360deg);
  width:100%;
  filter:blur(2px);
}

.content{
  position: relative;
  z-index: 999999999;
}

.sub--b{
  background-size: cover !important;
  background-position: right top;
  position: absolute;
  height:100%;
  width:100%;
  left:0;
  top:0;
  background:rgba(66,57,101,1);
  opacity: 1;
  background: linear-gradient(
    to bottom right,
    rgba(82, 173, 216, 1) 0%,
      rgba(66, 57, 101, 1) 90%,
      rgba(66, 57, 101, 1) 100%
  );

}
.subscribe_container--form{
  padding:40px;
  padding-bottom:5%;
  width:80%;
  margin-left:10%;
  z-index:999;
  box-shadow: 0px 0px 10px rgba(0,0,0,.5);
  position: relative;

}

.subscribe_container--form label{
  font-family: "Teko" !important;
  font-size: 20px !important;
  text-align: left !important;
}

.subscribe_container--form .text_container{
  font-size:20px;
  font-family: "Montserrat"
}

.subscribe_container--form .text_container .title{
  font-size:30px;
}

.subscribe_button{
  background:#38b6ff;
  color:white;
  border:none;
  font-size:25px;
  width:50%;
  margin-top:5%;
  margin-left: 25%;
  box-shadow: 0px 0px 10px rgba(0,0,0,.5);
  font-weight:200;
  font-family: "Montserrat"
}

.subscribe_container .text_container{
  text-align: center;
  font-family: "Teko"
}

.subscribe_container .text_container .title{
  font-size: 60px;
}

.subscribe_container .text_container .subtitle{
  font-size: 30px;
}

 #subscribe input{
  padding:25px;
  font-size:20px;
  width:100%;
  font-family: "Montserrat"
}
