.company_values_container{
  width:100%;
  margin-top:1%;
  position: relative;
  z-index:1;
  background: transparent;
  padding-left: 10px;
}

.company_values_background{
  z-index: 3;
  height: 130vh;
  top: 0%;
  width: 100%;
  left: 0%;
  position: fixed;
  object-fit: cover;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgba(0, 0, 0, .65), rgba(0, 0, 0, .65)),url("./../../images/values/1.png");
}

.showcase_container{
  z-index: 99;
}

.company_values_container{
  z-index:2;
}

.company_values_container--content{
  height:90vh;
  z-index: 99;
  position: absolute;
  width:100%;
  padding:20px;
}

.content_value_container--title{
  width:50%;
  position: absolute;
  padding-left: 40px;
  bottom:45%;
}

.content_value_container--value{
  float:right;
  top:0%;
  margin-right:5%;
  width:40%;
  position: relative;
  z-index:99;
}

.value_detail_box .title{
  font-size:32px;
  font-family: "Teko";
  letter-spacing: 2px;
  text-align: center;
}

.value_banner{
  background: #38b6ff;
  height:55px;
  position:absolute;
  width:60%;
  right:0%;
  top:10%;
}

.content_value_text--subtitle{
  color:white;
  font-size:25px;
  width:100%;
  font-family: "Montserrat";
  font-weight: 200;
}

.content_value_text--learn{
  color:white;
  font-size:25px;
  font-family: "Montserrat";
  display: inline;
  position: relative;
  padding-bottom:10px;
  font-weight: 200;
  transition: all .5s;
}

.content_value_text--learn:hover .underline{
  width:100%;
}

.content_value_text--learn:hover{
  color:#38b6ff;
}

.underline-const{
  height:2px;
  transition: all .5s;
  position: absolute;
  bottom:0%;
  left:0%;
  width:100%;
  background:white;
}

.content_value_text--learn .underline{
  height:2px;
  width:0%;
  transition: all .5s;
  position: absolute;
  bottom:0%;
  left:0%;
  background:#38b6ff;
}

.value_detail_box img {
  width:50%;
  margin-left: 25%;
  filter: invert(18%) sepia(45%) saturate(4799%) hue-rotate(186deg) brightness(97%) contrast(98%);
}

.value_detail_box{
  border-left:7px solid #38b6ff;
  float:left;
  background:white;
  width:100%;
  margin-top: 5%;
  padding:10px;
  margin-left:5%;
  box-shadow:0px 0px 10px rgba(0,0,0,.5);
}

.content_value_text--title{
  color:white;
  font-size:55px;
  letter-spacing: 4px;
  font-family: "Teko";
}

@media screen and (max-width:900px) and (orientation:portrait) and (min-width:700px){

  .company_values_background{
    z-index: 3;
    height: 180vh;
  }

  .value_detail_col{
    width:25%;
    max-width:25%;
    flex:25%;
  }

  .value_detail_row{
    margin-top:10%;
  }

  .content_value_container--title{
    width:100%;
    position: relative;
  }

  .content_value_container--value{
    float:left;
    top:0%;
    width:90%;
    padding-left:5%;
    position: relative;
    z-index:99;
  }

  .value_detail_box .title{
    font-size:24px;
  }

  .value_banner{
    background: #38b6ff;
    height:55px;
    position:absolute;
    width:90%;
    left:0%;
    top:30%;
  }

}
