.values-section {
  position: relative;
  padding: 8% 5%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 4rem;
  /* background: url('/assets/images/wet_new.png') no-repeat center center fixed; */
  background-size: cover;
  overflow: hidden;
  color: white;
background-image: linear-gradient(rgba(75, 25, 64, 1), rgba(75, 25, 64, .5)), url(./../../images/wet_new.png);
}

.values-left h2 {
  font-family: 'Teko', sans-serif;
  font-size: clamp(2.5rem, 6vw, 8rem);
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.values-left p {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.values-left a {
  font-size: 3rem;
  color: white;
  font-weight: bold;
  border-bottom: 2px solid white;
  text-decoration: none;
  transition: 0.3s;
}

.values-left a:hover {
  color: #00bfff;
  border-color: #00bfff;
}

.values-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.value-card {
  background: white;
  color: #002332;
  padding: 2rem;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-left: 8px solid #00bfff;
}

.value-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.25);
}

.value-card img {
  width: 60px;
  margin-bottom: 1rem;
      filter: invert(18%) sepia(45%) saturate(4799%) hue-rotate(186deg) brightness(97%) contrast(98%);
}

.value-card h3 {
  font-family: 'Teko', sans-serif;
  font-size: 3rem;
}

/* Tablet Styles */
@media (max-width: 1024px) {
  .values-section {
    grid-template-columns: 1fr;
    text-align: center;
    padding: 10% 5%;
  }

  .values-left {
    margin-bottom: 3rem;
  }

  .values-grid {
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
  }
}

/* Mobile Styles */
@media (max-width: 400px) {
  .values-grid {
    grid-template-columns: 1fr;
  }
  .values-left h2{
    font-size: clamp(6rem, 6vw, 8rem);
  }
  .values-left p{
      font-size:20px;
  }
}
