.why_us_img{
  width:50%;
  margin-left: 25%;
}

.why_us_text{
  text-align: center;
  color:white;
  font-size:25px;
  font-family: "Montserrat";
  font-weight: 300;
}

.section_text{
  font-size:65px;
  text-align:center;
  color:white;
  font-family:'Teko';
  font-size:200;
  letter-spacing:2px;
}

.why_choose_us_container{
  width:100%;
  margin-top:5%;
  padding-bottom:10%;
  padding-top:5%;
}

.why_choose_us_container{
  position: relative;
}

.why_choose_us_container{
  z-index:99;
  position: relative;
  overflow: hidden;
  background:#0069a4;
}

.watermark {
  width:100%;
  animation: none;
  opacity:.04;
  position: absolute;
  top:-10%;
  left:0%;
  z-index:-3;
}

@media screen and (max-width:900px) and (orientation:portrait) and (min-width:700px){

  .watermark{
    bottom:-25%;
    width:120%;
  }
  
  .why_choose_us_container{
    padding-top:10%;
    padding-bottom:15%;
  }

  .why_us_row{
    padding-top:5%;
  }

}
