body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-image: linear-gradient(rgba(75, 25, 64,.6), rgba(75, 25, 64,.5)),url("./../../images/wet_new.png");
  background-size: cover !important;
  background-repeat: no-repeat !important;
  font-family: Arial, sans-serif;
}
.rainbow-border {
  display: inline-block;
  padding: 20px;
  border-radius: 12px;
  background: linear-gradient(270deg,
    #ff0080, #7928ca, #007cf0, #00dfd8, #ff0080);
  background-size: 600% 600%;
  animation: rainbowLoop 6s linear infinite;
}

.glow-button {
  padding: 12px 28px;
  background: linear-gradient(90deg, rgba(0, 20, 30, 1), rgba(0, 35, 50, 1), rgba(0, 50, 70, 1));
  color: white;
  font-size: 30px;
  border: none;
  border-radius: 10px;
  position: relative;
  z-index: 1;
  cursor: pointer;
}

/* Rainbow animation */
@keyframes rainbowLoop {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


.footer {
  background: linear-gradient(90deg, rgba(0, 20, 30, 1), rgba(0, 35, 50, 1), rgba(0, 50, 70, 1));
  color: rgba(200, 200, 255, 1);
  text-align: center;
  padding: 20px 10px;
  position: relative;
  z-index: 2;
  font-family: "Lato";
}

.footer p,a {
  font-family: "Lato" !important;
  font-size:18px;
  font-weight:300;
}

.fw-bold{
  font-size:25px;
  font-family: "Teko"
}

.footer-title {
  font-weight: bold;
  margin: 10px 0;
  font-size:25px;
}

.footer-subtitle {
  font-size: 2rem;
  margin: 10px 0;
}

.footer-email {
  font-size: 2rem;
  margin: 15px 0;
}

.decorative-bar {
  width: 50%;
  height: 5px;
  background-color: rgba(200, 200, 255, 1);
  margin: 15px auto;
}

.clouds {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
  z-index: 1;
}

.cloud {
  position: absolute;
  background: rgba(200, 200, 255, 0.2);
  border-radius: 50%;
  opacity: 0.6;
  animation: moveClouds 25s linear infinite;
}

@keyframes moveClouds {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.footer a {
  color: rgba(200, 200, 255, 1);
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}
