a{
 text-decoration: none !important;
}

.navbar_home_mobile{
  font-family: "Lato";

}
a:hover p{

  font-weight: normal !important;
}

.navbar_custom{
  cursor: pointer !important
}

.link_nav--title{
  margin-left:10%;position:relative
}

.navbar_container{
  padding:1%;
  z-index: 99229;
  position: relative;
}

.showcase_navbar{
  padding:1%;
  z-index: 99229;
  position: relative;
  background:  transparent !important;
}

.navbar_home{
  width:100%;
}

.nav_list{
  list-style-type: none;
  color:white;
}

.link_nav{
  color:white;
  font-weight: 400;
  text-shadow: 0px 0px 30px black;
  font-family: "Teko";
  font-size: 25px;
  text-align: center;
}

.link_nav:hover{
  font-weight: bold;
}

.button_img{
  filter: invert(100) !important;
  z-index: 999999999999999999999999999999999999999999999999999999;

  position: relative;
}

.collapse-it:not(.show) {
  display: none;
  transition: all.5s;
}

@media screen and (max-width:900px) and (orientation:portrait) and (min-width:700px){

  .navbar_wrapper{
    padding:0 5%;
  }

  .sc_col{
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }

  .no_col{
    flex:0%;
    width:0%;
    max-width:0%;
  }

  .navbar_wrapper{
    padding:0%;
  }

  .link_nav{
    font-size: 2rem;
    margin-left: 10%;
    text-align: center;
    z-index:9999;
    position: relative;
  }

  .navbar_custom{
    padding-top:2.5%;
  }

  .link_nav--title{
    font-size:2.5rem;
    width:130%;
    margin-left:-15px;
    font-family:"Teko";
    font-weight:200;
  }

  .no_col{
    width:0%;
    flex:0%;
    max-width:0%;
  }

}


.link_nav--title{
  font-size: 30px;
  letter-spacing: 1px;
  font-weight: 400;
  font-family: "Teko";
  transform: translateY(15px);
  text-shadow: 0px 0px 10px black;
}
