.showcase_heading--title span{
  font-family: "Montserrat",sans-serif;
}

.showcase_container{
  width:100%;
  position: relative;
}

.showcase_container--home{
  background-image:linear-gradient(
    to right, rgba(3, 77, 118, 1),
    rgba(3, 77, 118, 1),
    rgba(3, 77, 118, .3)),
    url("./../images/showcase_1.png");
}

.showcase_container--contact{
  background-image:linear-gradient(to right, rgba(3, 77, 118, 1)
  ,rgba(3, 77, 118, 1),
  rgba(3, 77, 118, .3)),
  url("./../images/contact_showcase.png");
}

.showcase_container--about{
  background-image:linear-gradient(to right,
  rgba(3, 77, 118, 1),
  rgba(3, 77, 118, .5),
  rgba(3, 77, 118, .3)),
  url("./../images/about_showcase_1.png");
}

.showcase_container--schedule{
  background-image:linear-gradient(to right, rgba(3, 77, 118, 1),
  rgba(3, 77, 118, .8),
  rgba(3, 77, 118, .3)),
  url("./../images/showcase_1.png");
}

.showcase_container{
  height:115vh;
  width:100%;
  background-size: cover;
  position: relative;
}

.row{
  position: relative;
}

.showcase_col--logo{
   position: relative;
   z-index:0;
   padding:0;
}

.showcase_container--logo img {
  width:80%;
  margin-left:12.5%;
}

.showcase_container--logo{
  z-index:99;
  position: relative;
  margin-top:15%;
  width:50%;
  background-image:linear-gradient(
    to bottom, rgba(56, 182, 255, 1),rgba(0, 105, 164, 1)
    );
  margin-left:2.5%;

}

.showcase_background{
  z-index:0;
  width:50%;
  height: 110vh ;
  margin-left:2.5%;
  position: absolute;
  top:-5%;
  padding-left:2.5%;
  background:#0069a4 !important;
}

/* End of Section 1*/

.intro-text-container{
  width:80%;
  margin-top:2.5%;
}

.showcase_image {
  height:100vh;
  width:100%;
}

.showcase_text_container{
  width:100%;
}

.intro-text-container{
  position: absolute;
  z-index: 99;
  top: 30%;
}

.showcase_text_inner_container{
  margin-left:5%;
}

.showcase_heading{
  display: inline;
  padding:2%;
  font-size:6rem;
  background:#00103d;
}

.showcase_heading_container{
  padding:1%;
  margin-top:5%;
  font-family: "Montserrat",sans-serif;
  line-height: 1.15;
  font-weight: 700;
  letter-spacing: .01rem;
  text-transform: uppercase;
  color: #fff;
  position: relative;
  z-index: 1;
  text-align: left;
}

.showcase_heading--title{
  color:#38B6FF;
}

.showcase_heading-background--1{
  width:50%;
}

.brs{
  margin-top:7.5%;
}

/* End of Section 2 */
/*Section 3 showcase_banner_row */

.showcase_banner_row{
  margin-top:5%;
  position: absolute !important;
  width:100%;
  top:95% ;
  z-index:1;
}

.showcase_banner--1{
  width:80%;
  height:15vh;
  background:linear-gradient(to right,rgba(0, 0, 0, 1),rgba(0, 0, 0, .5)) !important;
}

.showcase_banner--2{
  width:60%;
  height:10vh;
  position: relative;
  bottom:5rem;
}
*{
  box-sizing: border-box;
}
/* End of Section 3 */
/* Section 4: Phone Number */
.showcase_number{
  position: absolute;
  right:0%;
  font-size:2rem;
  top:15%;
  font-family: "Montserrat";
  font-weight:700;
  z-index:999999999999;
  padding:1%;
  box-shadow:0rem 2rem 4rem black;
  text-align: right;
  color:white;
  background:#00103d;
  transition: all .5s;
}


/* IPad Portrait */
@media screen and (max-width:900px) and (orientation:portrait) and (min-width:700px){


  .showcase_background{
    height:90vh;
    opacity:.6;
  }

  .showcase_container{
    padding-top: 5% !important;
    height:90vh;
  }

  .intro-text-container {
    width: 100%;
    margin-top: 0%;
  }

  .showcase_text_inner_container {
    margin-left: -2.5%;
  }

  .showcase_banner--2 {
    height: 7.5vh !important;
  }

  .showcase_banner_row{
    top:115% !important;
    width: 100%;
    z-index: 1;
  }

  .showcase_heading {
    display: inline;
    width:120%;
    padding: 2% 7.5%;
    margin-left: 0%;
    font-weight: 600;
    font-size: 5rem;
    background: #00103d;
  }

  .showcase_banner--1 {
    max-width: 90%;
    width:80%;
    height: 6vh;
    background: linear-gradient(to right,rgba(0, 0, 0, 1),rgba(0, 0, 0, .5)) !important;
  }

  .showcase_banner--2 {
    width: 30% !important;
    height: 5vh;
    position: relative;
    bottom: 2rem;
  }

/* Move */
.our_work_section{
  background:none !important;
}
.about_description{
  font-size: 3rem;
}
.button_img{
  height: 2rem !important;
  width: 2rem !important;
}

}

/* Ipad landscape */
@media screen and (min-width:700px) and (max-width:900px) and (orientation:landscape){

  .banner{
    top:90% !important;
  }

}

/* Iphone Portrait */
@media screen and (max-width:690px) and (orientation:portrait){

  .showcase_container{
    background-position: 230%;
    margin-top: 5% !important;
    height:70vh;
  }

  .logo_col{
    width:80%;
    flex:80%;
    max-width:80%;
  }

  .showcase_background{
    height:105vh !important;
  }

  .showcase_heading-background--1{
    width:90%;
  }
  .showcase_heading-background--2{
    width:100% ;
  }

  .showcase_text_container{
    margin-top:10%;
    width:100%;
  }

  .showcase_heading_container{
    width:120%;
  }

  .showcase_heading{
    display: inline;
    box-sizing: border-box;
    font-size:2.5rem;
    margin-left: -2.5%;
  }

  .showcase_banner{
    width:100%;
    max-width:100%;
    flex:100%;
    bottom:0rem;
    height:7.5vh;
  }

  .showcase_banner_row{
    margin-top:35%;
    top:70%;
  }

  .showcase_banner--1{
    background: linear-gradient(to right,rgba(0, 0, 0, 1),rgba(0, 0, 0, .2)) !important;
  }

  .home_quote_container{
    top:70%;
    width:90%;
    left:5%;
  }

  .our_work_section{
    background:none !important;
  }

  .button_img{
    height:2rem !important;
    width:2rem !important;
  }

}
