a{
  color:white !important;
}

body{
  background:#0069a4;
}

.popup{
  position: fixed;
  top:0%;
  width:100%;
  padding:20px;
  font-size:20px;
  font-family:"Roboto";
  box-shadow:0px 0px 10px rgba(0,0,0,.5);
  text-align: center;
  background:white;
  z-index:999;
  animation: 1 ease-in .2s ap;
  opacity:1;
  transition: translateY(0px)
  left:0%;
}

.popup_back{
  animation: 1 ease-in .5s dis;
  opacity:0;
  transition: translateY(-50px)
}

@keyframes dis {

  0%{
    opacity:1;
    transform:translateY(0px);
  }

  100%{
    opacity:0;
    transform:translateY(-50px);
  }

}

@keyframes ap {



  0%{
    opacity:0;
    transform:translateY(-50px);
  }
  100%{
    opacity:1;
    transform:translateY(0px);
  }

}

label{
  margin-top:2.5%;
  font-family:"Akrobat";
  font-size:17px;
  margin-top:1.5%;
  padding-top:2%;
}

html{
  overflow-x: hidden;
  font-size:62.5%;
  box-sizing: border-box
}

th, td, tr{
  font-family:"Akrobat";
}

td {
  text-align: center;
  border-left:1px solid black;
}

td span{
  text-align: center;
  display: block;
}

th{
  text-align: center;
}

tr{
  border-bottom:1px solid black;
}

table{
  height:80vh
  border:2px solid #e6e6e6;
}

@font-face { font-family: Akrobat; font-weight: normal; src: url('./../fonts/Akrobat-Black.otf'); }

@font-face { font-family: Akrobat; font-weight: lighter; src: url('./../fonts/Akrobat-Light.otf'); }

footer p, footer a, footer i {
   font-family: "Akrobat";
 }

a {
  text-decoration: none;
  cursor: auto;
}

video{
  overflow-y: hidden !important;
}

.no-style-button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
 }


 .no-style-button, .no-style-input[type="submit"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
 }

.btn{
   color:white;
 }

.lock {
  overflow-y:hidden;
}

.no-outline{
  outline:none;
}

.no_default_style{
  border:none;
  -webkit-appearance: none;
}

.desktop_visible_only{
  visibility: hidden;
  height:0;
  width:0;
  opacity:0;
}

.visible {
  visibility: visible;
}

.hidden{
  visibility: hidden;
}

.ghost{
  visibility: collapse;
  opacity:0;
  height:0px;
}
