<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.2/axios.min.js" integrity="sha512-b94Z6431JyXY14iSXwgzeZurHHRNkLt9d6bAHt7BZT38eqV+GyngIi/tVye4jBKPYQ2lBdRs0glww4fmpuLRwA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/fireworks-js@2.10.8/dist/index.umd.min.js"></script>
<script src="/assets/js/user/blogs.js"></script>

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "LocalBusiness",
  "name": "The Window Knight",
  "image": "https://thewindowknight.com/assets/images/logo.png",
  "@id": "https://thewindowknight.com/",
  "url": "https://thewindowknight.com/",
  "telephone": "+1-480-842-3660",
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "7131 E Rancho Vista Drive",
    "addressLocality": "Scottsdale",
    "addressRegion": "AZ",
    "postalCode": "85260",
    "addressCountry": "US"
  },
  "geo": {
    "@type": "GeoCoordinates",
    "latitude": 33.4484,
    "longitude": -112.0740
  },
  "openingHours": "Mo-Sa 08:00-18:00",
  "priceRange": "$$",
  "description": "The Window Knight is a locally-owned window cleaning company based in Phoenix, AZ. Offering residential and commercial window cleaning with streak-free results and honest service."
}
</script>
</body>

</html>
