<div class="prospect_modal--add prospect_modal--inactive" active ="0">

  <p class="title" id= "prospect_title"> Add Prospect </p>

  <form id="prospect_form">

    <div class=" quote_detail_input--mid">

      <label>
        Name (Required)
      </label>

      <input  placeholder="Enter Name" name = "name" class="form-control quote_detail_input">

    </div>

    <div class=" quote_detail_input--mid">

      <label>
        Phone Number
      </label>

      <input  placeholder="Enter Phone Number" name = "phone_number" class="form-control quote_detail_input">

    </div>

    <div class=" quote_detail_input--mid">

      <label>
        Email
      </label>

      <input placeholder="Enter Email" name = "email" class="form-control quote_detail_input">

    </div>

    <div class=" quote_detail_input--mid">

      <label>
        Quote
      </label>

      <input type="number" placeholder="Enter Quote Amount" name = "quote" class="form-control quote_detail_input">

    </div>

    <div class=" quote_detail_input--mid">

      <label>
        Schedule
      </label>

      <input type="date" placeholder="Enter Date" name = "schedule_date" class="form-control quote_detail_input quote_detail_input--full">

    </div>

    <div class=" quote_detail_input--mid">

      <label>
        Address
      </label>

      <input placeholder="Enter Address"  name = "address" class="form-control quote_detail_input quote_detail_input--date">

    </div>

    <button class="add_prospect_button"> Submit </button>

  </form>

</div>
