<div class="chart_container">

  <div class="inner-container">
    <p class="wheel_title">Weekly<br> Prospects </p>
    <canvas id="prospectChart" "></canvas>
  </div>

</div>

<div class="sales_chart_container">
  <div class="inner-container">
    <p class="wheel_title--2">Weekly<br>Sales </p>
    <canvas id="salesChart" "></canvas>
  </div>
</div>
<div style="clear:both;width:100%"></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.3.4/axios.min.js" integrity="sha512-LUKzDoJKOLqnxGWWIBM4lzRBlxcva2ZTztO8bTcWPmDSpkErWx0bSP4pdsjNH8kiHAUPaT06UXcb+vOEZH+HpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script src = "/assets/js/admin/prospect_chart.js"></script>
