<div class="quote_completed_modal quote_modal quote_modal--inactive" active = 0>

    <form class="quote_completed_form">

      <label>
        Miles to Job Site
      </label>

      <input  type = "number" placeholder="Enter Miles" name = "miles" class="form-control quote_detail_input quote_detail_input--date">

      <label>
        Hours to Complete
      </label>

      <input type="number" placeholder="Enter Hours" name = "hours" class="form-control quote_detail_input quote_detail_input--date">

      <label>
        Material Cost
      </label>

       <input type="number" placeholder="Enter Material Cost" name = "material_cost" class="form-control quote_detail_input quote_detail_input--date">

      <label>
        Date Completed
      </label>

      <input type="date"  name = "date_completed" class="form-control quote_detail_input quote_detail_input--date">

      <label>
        Repeat Job?
      </label>

      <input type="checkbox"  name = "repeat" id="repeat" class="form-control quote_detail_input quote_detail_input--date">

      <button type="submit" class="form_completed_button btn"> Submit </button>

    </form>

  </div>
