<div class="quote_status_modal quote_modal quote_modal--inactive" active = 0>

    <form class="quote_status_form">

       <label>Choose Status</label>

       <select name="status" id="status" placeholder = "Select Status">
          <option value="0">Subscribed</option>
          <option value="1"">In Contact</option>
          <option value="2"">Quoted</option>
          <option value="3">Scheduled</option>
          <option value="4">Completed</option>
          <option value="5">Loyal Customer</option>
      </select>

    </form>

    <p class="status_text">Current Status:</p>
    <p class="status_text"id="status_text--choose">Subscribed</p>

    <button type="submit" class="form_status_button btn">Submit</button>

  </div>
