<div class="prospect_menu prospect_menu--inactive">

  <div class="menu_container">

      <div class="choice_container choice_container--details">
        Add Prospect Details
      </div>

      <div class="choice_container choice_container--status">
        Change Status
      </div>

      <div class="choice_container choice_container--completed">
        Mark as Complete
      </div>

      <div class="choice_container choice_container--delete">
        Delete Prospect
      </div>

  </div>

</div>
