<div class="quote_detail_modal quote_modal quote_modal--inactive" active = 0>

  <form class="quote_detail_form">

    <label>
        Address
    </label>

    <input  placeholder="Enter Address" name = "address" class="form-control quote_detail_input quote_detail_input--date">

    <label>
        Quote
    </label>

    <input type="number" placeholder="Enter Quote" name = "quote" class="form-control quote_detail_input quote_detail_input--date">

    <label>
        Schedule Date
    </label>

    <input type="date"  name = "schedule_date" class="form-control quote_detail_input quote_detail_input--date">

    <button type="submit" class="form_detail_button btn"> Submit </button>

  </form>

</div>
