<div class="container-fluid">
<div class="row">

  <div class="col-12">

    <div class="admin_container--quote_box" style="padding:20px">

        <p class="admin_text admin_text--quote float-right" style="text-align:right"> Total Prospects: <%= prospects.length %> Prospects(s)</p>

        <button class="add_prospect_button--g"style="width:30%;margin-left:0"> Add Prospect </button>

    </div>

    <%
      const totalSales = new Intl.NumberFormat('en-US', {
        style: 'currency',
        currency: 'USD'
      }).format(total_sales.completed_sales);
      const weeklySales = new Intl.NumberFormat('en-US', {
        style: 'currency',
        currency: 'USD'
      }).format(weekly_sales.completed_sales);
    %>

      <div class="admin_container--quote_box" style="padding:20px">

          <p class="admin_text admin_text--quote float-left" style="text-align:left;float:left;width:50%;"> Total Sales: <%= totalSales %> </p>
          <p class="admin_text admin_text--quote float-right" style="text-align:right;float:right;width:50%"> This Week's Sales: <%= weeklySales %></p>

      </div>


  </div>

</div>
