<div class="row  meta_container">

    <div class="col-3 meta_col">
        <img class="meta_img" src = "./../assets/images/chrome.png"/>
        <p class="meta_text"> Chrome </p>
        <p class="meta_text bold"> <%= meta.brow.chrome %> </p>
    </div>

    <div class="col-3 meta_col">
        <img class="meta_img" src = "./../assets/images/edge.png"/>
        <p class="meta_text"> Edge </p>
        <p class="meta_text bold"><%= meta.brow.edge %></p>
    </div>

    <div class="col-3 meta_col">
        <img class="meta_img" src = "./../assets/images/safari.png"/>
        <p class="meta_text"> Safari </p>
        <p class="meta_text  bold"><%= meta.brow.safari %></p>
    </div>

    <div class="col-3 meta_col">
        <img class="meta_img" src = "./../assets/images/firefox.png"/>
        <p class="meta_text"> FireFox </p>
        <p class="meta_text bold"><%= meta.brow.firefox %></p>
    </div>

</div>
