
<div class="row page_count_row" >


    <div class="col-6 relative">
      <p class="page_count_text"> Unique Page Count </p>
      <p class="page_count_text"> <%= meta.views.total_views %> </p>
    </div>

    <div class="col-6 relative">
      <p class="page_count_text"> Total Page Count </p>
      <p class="page_count_text"> <%= meta.views.unique_views + 2 %> </p>
    </div>

</div>
