<div class="row meta_root_row">

      <% for(var i =0; i < meta.pages.length; i++){ %>
        <% if(meta.pages[i].name){ %>
          <div class= "col-4 meta_col--root">

              <div class="meta_root_container" views = <%= parseInt(meta.pages[i].qty) %> >

                <p class="meta_text meta_text--root"><%= meta.pages[i].name %> </p>

                <div  class="root_views_box ">
                  <p class="meta_text meta_text--root_subtitle" ><%= meta.pages[i].qty  %> Views </p>
                </div>


              </div>

            </div>
          <%}%>
      <%}%>

</div>
