<div class="client_carousel">
  <p class="title"> Our Clients </p>

  <div class="carousel--slideshow">

  </div>

  <div class="arrow_container--carousel">

      <div class="left--arrow--c arrow--c">
          <p class="title"> < </p>
      </div>

      <div class="right--arrow--c arrow--c">
          <p class="title"> > </p>
      </div>

  </div>


</div>
