<div class="slide-grid">
    <div class="image-left">
      <img id="leftImage" src="./assets/images/before_1.png" alt="Right Image">
    </div>
    <div class="center-content">
      <img class="logo-s" id ='logo-ss' src = "./assets/images/pj.png"/>
      <h2 class="h2"><strong id="slideTitle">Great Work</strong></h2>
      <p  class="p" id="slideDescription">prekmvkfdmvfkdmvkpgbrpmbrgpikbmfkmva'</p>

      <div class="buttons">
        <button class="previous" id="prevSlide">
              <svg xmlns="http://www.w3.org/2000/svg" width="50" height="24" fill="none" stroke="currentColor" stroke-width="2"
       stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left">
    <line x1="19" y1="12" x2="5" y2="12" />
    <polyline points="12 19 5 12 12 5" />
    </svg>

        </button>
        <button class="next" id="nextSlide">
          <svg xmlns="http://www.w3.org/2000/svg" width="50" height="24" fill="none" stroke="currentColor" stroke-width="2"
   stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left">
<line x1="19" y1="12" x2="5" y2="12" />
<polyline points="12 19 5 12 12 5" />
</svg>

        </button>
      </div>
    </div>
    <div class="image-right">
      <img id="rightImage" src="./assets/images/before_1.png" alt="Right Image">
    </div>
  </div>
