<div class="client_slideshow_container">

  <p class="client_slideshow_text client_slideshow_text--title">
    Our Clients
  </p>

  <div class="slideshow_container">

    <div class = "client_slideshow_container--box slideshow_box--1">
        <img class="client_slideshow_img" src = "/assets/images/values/11.png"/>
    </div>

    <div class = "client_slideshow_container--box slideshow_box--2">
        <img class="client_slideshow_img" src = "/assets/images/pj.png"/>
    </div>

    <div class = "client_slideshow_container--box slideshow_box--3">
        <img class="client_slideshow_img" src = "/assets/images/values/12.png"/>
    </div>

    <div class = "client_slideshow_container--box slideshow_box--4">
        <img class="client_slideshow_img" src = "/assets/images/values/10.png"/>
    </div>

  </div>

  <div class="client_slideshow_container--arrow">

    <div class="arrow_container arrow_container--left" multiplier = -1>
       <
    </div>

    <div class="arrow_container arrow_container--right" multiplier = 1>
       >
    </div>

  </div>

</div>
