<div class="showcase_container relative">

  <div id="showcase_number"> 480-822-0511 </div>

  <div class="showcase_container--video">

    <div class="showcase_container---video--overlay"></div>

    <video id="showcase_vid" autoplay loop muted nocontrols>
      <source src = "/assets/images/custom.mp4"></source>
    </video>

    <div class="showcase_container--logo--special">
      <img src = "/assets/images/logo.png"/>
      <p class="special_text special_text--title"> Make your windows look spotless today! </p>
      <p class="special_text special_text--subtitle"> Window cleaning is our passion </p>
   </div>

  </div>

</div>
