<div class="showcase_container relative">

  <div id="showcase_number"> 480-822-0511 </div>
  <div class="dirty_background"></div>

  <div class="landing_background">
      <div class="knight_container">
        <img class="knight_main"  id="parallax" src = "./assets/images/the_knight.png"/>
        <!-- <div class="glow"></div> -->
        <div class="sparkle_container"></div>
      </div>
      <div class="text-container">
        <p class="title"> Defend Your View Today!</p>
        <p class="subtitle"> Get 20% Off Your First Shine!</p>
      </div>
  </div>

</div>
