<section class="slideshow-section">
  <h2 class="label label--work" id="label"></h2>

  <div class="swiper mySwiper">
    <div class="swiper-wrapper">

      <div class="swiper-slide">
        <div class="slide-content">
          <img src="./assets/images/work/chipotle_1.jpg" class="slide-img before" alt="Chipotle storefront before window cleaning" />
          <img src="./assets/images/work/chipotle_2.jpg" class="slide-img after" alt="Chipotle storefront after window cleaning" />

          <div class="slide-text">
            <h2>Chipotle</h2>
            <p>Shea and Scottsdale, AZ</p>
            <a href="#quote" class="btn">Get a Free Quote</a>
          </div>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="slide-content">
          <img src="./assets/images/work/feta_1.jpg" class="slide-img before" alt="Feta Cowboy windows before cleaning" />
          <img src="./assets/images/work/feta_1.jpg" class="slide-img after" alt="Feta Cowboy windows after cleaning" />

          <div class="slide-text">
            <h2>Feta Cowboy</h2>
            <p>Tempe, AZ</p>
            <a href="#quote" class="btn">Get a Free Quote</a>
          </div>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="slide-content">
          <img src="./assets/images/work/filthy_animal_1.jpg" class="slide-img before" alt="Filthy Animal extremely dirty window before cleaning" />
          <img src="./assets/images/work/filthy_animal_after_1.jpg" class="slide-img after" alt="Filthy Animal window after professional cleaning" />

          <div class="slide-text">
            <h2>The Filthy Animal</h2>
            <p>Tempe, AZ</p>
            <a href="#quote" class="btn">Get a Free Quote</a>
          </div>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="slide-content">
          <img src="./assets/images/work/pita_after_1.jpg" class="slide-img before" alt="Pita Jungle Chandler window before cleaning" />
          <img src="./assets/images/work/pita_after_2.jpg" class="slide-img after" alt="Pita Jungle Chandler window after cleaning" />

          <div class="slide-text">
            <h2>Pita Jungle</h2>
            <p>Chandler, AZ</p>
            <a href="#quote" class="btn">Get a Free Quote</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<section class="tk-section relative">
  <h2 class="label label--review" id="label"></h2>

  <div class="twk-review-grid" id="twkReviewGrid"></div>

  <img src="./assets/images/new_logo.jpg" class="watermark" alt="The Window Knight logo watermark" />
</section>
