<section class="slideshow-section">
  <h2 class="label label--work" id="label"></h2>

  <div class="swiper mySwiper">
    <div class="swiper-wrapper">

      <div class="swiper-slide">
        <div class="slide-content">
          <img src="./assets/images/work/chipotle_1.jpg" class="slide-img before" alt="Chipotle storefront before window cleaning" />
          <img src="./assets/images/work/chipotle_2.jpg" class="slide-img after" alt="Chipotle storefront after window cleaning" />

          <div class="slide-text">
            <h2>Chipotle</h2>
            <p>Shea and Scottsdale, AZ</p>
            <a href="#quote" class="btn">Get a Free Quote</a>
          </div>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="slide-content">
          <img src="./assets/images/work/feta_1.jpg" class="slide-img before" alt="Feta Cowboy windows before cleaning" />
          <img src="./assets/images/work/feta_1.jpg" class="slide-img after" alt="Feta Cowboy windows after cleaning" />

          <div class="slide-text">
            <h2>Feta Cowboy</h2>
            <p>Tempe, AZ</p>
            <a href="#quote" class="btn">Get a Free Quote</a>
          </div>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="slide-content">
          <img src="./assets/images/work/filthy_animal_1.jpg" class="slide-img before" alt="Filthy Animal extremely dirty window before cleaning" />
          <img src="./assets/images/work/filthy_animal_after_1.jpg" class="slide-img after" alt="Filthy Animal window after professional cleaning" />

          <div class="slide-text">
            <h2>The Filthy Animal</h2>
            <p>Tempe, AZ</p>
            <a href="#quote" class="btn">Get a Free Quote</a>
          </div>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="slide-content">
          <img src="./assets/images/work/pita_after_1.jpg" class="slide-img before" alt="Pita Jungle Chandler window before cleaning" />
          <img src="./assets/images/work/pita_after_2.jpg" class="slide-img after" alt="Pita Jungle Chandler window after cleaning" />

          <div class="slide-text">
            <h2>Pita Jungle</h2>
            <p>Chandler, AZ</p>
            <a href="#quote" class="btn">Get a Free Quote</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<section class="review-section">
  <h2><strong>Business</strong> Reviews</h2>

  <div class="review-grid">
    <div class="review-card">
      <div class="review-stars">★★★★★</div>
      <p class="review-content">This was the first time Marco cleaned the windows for our business, I would recommend him to everyone. He did a excellent job, very meticulousl, andhave great personality. Thanks Marco. Can't wait for you to come back again.</p>
      <div class="review-author">— Thu Nguyen.</div>
    </div>
    <div class="review-card">
      <div class="review-stars">★★★★★</div>
      <p class="review-content">I've been using Window Knights regularly for all my window cleaning needs, and they consistently deliver top-notch service. If you're searching for affordable window cleaning, professional window cleaners, or the best window cleaning service in Scottsdale, look no further!</p>
      <div class="review-author">— Bettina Loison.</div>
    </div>
    <div class="review-card">
      <div class="review-stars">★★★★★</div>
      <p class="review-content">Window knight squeezed me into their schedule last minute. They pay attention to detail and work very efficiently. Professional and courteous. I will continue to use them and highly recommend. Thanks guys!!</p>
      <div class="review-author">— Chris Freitag</div>
    </div>
    <div class="review-card">
      <div class="review-stars">★★★★★</div>
      <p class="review-content">Marco is a magician! Our windows have never been cleaner...and we have a lot of them! He gets the job done quickly and effectively. And he is so nice to all of our workers and customers that he comes into contact with. Would highly recommend.</p>
      <div class="review-author">— Rachel Obor.</div>
    </div>
    <div class="review-card">
      <div class="review-stars">★★★★★</div>
      <p class="review-content">Great work every time! I highly recommend Window Knight.</p>
      <div class="review-author">— Luke Lawson.</div>
    </div>
    <div class="review-card">
      <div class="review-stars">★★★★★</div>
      <p class="review-content">Marco came by to do my house in Scottsdale and knocked out all the windows pretty fast. They looked great when he was done. Definitely would use him again if I need window cleaning</p>
      <div class="review-author">— Colter Lawrence.</div>
    </div>
  </div>


</section>
