<section class="slideshow-section">
  <h2 class="label label--work" id="label"></h2>

  <div class="swiper mySwiper">

    <div class="swiper-wrapper">

      <div class="swiper-slide">

        <div class="slide-content">

          <img src="./assets/images/photo_1.png" class="slide-img before" />
          <img  src="./assets/images/photo_2.png" class="slide-img after" />

          <div class="slide-text">
            <h2>Pita Jungle</h2>
            <p>44th & Indian School, AZ</p>
            <a href="#quote" class="btn">Get a Free Quote</a>
          </div>

        </div>

      </div>

      <div class="swiper-slide">

        <div class="slide-content">

          <img  src="./assets/images/pita_photo.png" class="slide-img before" />
          <img  src="./assets/images/photo_3.png" class="slide-img after" />

          <div class="slide-text">
            <h2>Sims Business Systems</h2>
            <p>Tempe, AZ</p>
            <a href="#quote" class="btn">Get a Free Quote</a>
          </div>

        </div>

      </div>

      <div class="swiper-slide">

        <div class="slide-content">
          <img  src="./assets/images/before_3.png" class="slide-img before" />
          <img  src="./assets/images/after_3.png" class="slide-img after" />

          <div class="slide-text">
            <h2>Residential House</h2>
            <p>Scottsdale, AZ</p>
            <a href="#quote" class="btn">Get a Free Quote</a>
          </div>

        </div>

      </div>

    </div>

  </div>

</section>
<section class="tk-section">
  <h2 class="label label--review" id="label"></h2>

  <div class="twk-review-grid" id="twkReviewGrid"></div>
</section>
