<div class="subscribe_container ">

  <div class="sub-b"></div>

  <div class="subscribe_row">

    <div class="subscribe_container--form subscribe_container--home">

      <div class="sub--b"></div>

        <div class="content">

            <div class="text_container">
              <p class="title"> Schedule a Free Quote! </p>
              <p class="subtitle">Enter your email so we can get in touch!</p>
            </div>

            <div class="form_container ">

                <form id = "subscribe" method = "POST" action="/admin/subscribe">

                    <input class="form-control subscribe_input" placeholder="Enter Name" name = "name">
                    <input class="form-control subscribe_input" name = "email" placeholder="Enter your email" />
                    <input class="form-control subscribe_input" name = "phone" placeholder="Enter your phone number" />
                    <textarea  col=4 row = 4 rows="4" cols="80" name = "message" class="form-control subscribe_input"  placeholder="Enter your email" >

                    </textarea>
                    <button class="subscribe_button btn" type="submit" id="subhere"> Submit </button>


                </form>

            </div>

        </div>

    </div>

  </div>

</div>
