<div class="subscribe_container">

  <div class="subscribe_row">

    <div class="subscribe_container--form">

      <div class="text_container">
        <p class="title"> Schedule a Free Quote! </p>
        <p class="subtitle">Enter your email so we can get in touch!</p>
      </div>

      <div class="form_container">

          <form id = "subscribe" method = "POST" action="/admin/subscribe">
              <label>Name </label>

              <input class="form-control subscribe_input" placeholder="Enter Name" name = "name">
              <label>Email Address </label>
              <input name = "email" class="form-control subscribe_input" name = "email" placeholder="Enter your email" />
              <button class="subscribe_button btn" type="submit" id="subhere"> Submit </button>
          </form>

      </div>

    </div>

    <div class="subscribe_container--graphic"></div>

  </div>

</div>
