<section class="gallery-section">
  <h2 class="label work" id="label"></h2>
  <div class="gallery" id="gallery">

    <div class="img-card">
      <img src = "/assets/images/work/chipotle_before_2.jpg" class="before"/>
      <img src = "/assets/images/chipotle_after_2.jpg" class="after"/>
    </div>

    <div class="img-card">
      <img src = "/assets/images/pita_before_2.jpg" class="before"/>
      <img src = "/assets/images/pita_after_2.jpg" class="after"/>
    </div>

    <div class="img-card">
      <img src = "/assets/images/pv_before_2.jpg" class="before"/>
      <img src = "/assets/images/pv_after_2.jpg" class="after"/>
    </div>

    <div class="img-card">
      <img src = "/assets/images/pv_before.jpg" class="before"/>
      <img src = "/assets/images/pv_after.jpg" class="after"/>
    </div>


    <div class="img-card">
      <img src = "/assets/images/filthy_animal_before.jpg" class="before"/>
      <img src = "/assets/images/filthy_animal_after_1.jpg" class="after"/>
    </div>

    <div class="img-card">
      <img src = "/assets/images/pita_before_3.jpg" class="before"/>
      <img src = "/assets/images/pita_after_3.jpg" class="after"/>
    </div>

  </div>

  <button class="clean-btn clean-btn--before" id="cleanBtn">
   Clean Me!
  </button>


</section>
