<section class="gallery-section">
  <h2 class="label work" id="label"></h2>
  <div class="gallery" id="gallery">

    <div class="img-card">
      <img src="/assets/images/work/chipotle_before_2.jpg" class="before" alt="Dirty Chipotle window before cleaning" />
      <img src="/assets/images/work/chipotle_after_2.jpg" class="after" alt="Clean Chipotle window after cleaning" />
    </div>

    <div class="img-card">
      <img src="/assets/images/work/pita_before_2.jpg" class="before" alt="Pita Jungle window before cleaning" />
      <img src="/assets/images/work/pita_after_2.jpg" class="after" alt="Pita Jungle window after cleaning" />
    </div>

    <div class="img-card">
      <img src="/assets/images/work/pv_before_2.jpg" class="before" alt="PV location storefront before cleaning" />
      <img src="/assets/images/work/pv_after_2.jpg" class="after" alt="PV location storefront after cleaning" />
    </div>

    <div class="img-card">
      <img src="/assets/images/work/pv_before.jpg" class="before" alt="PV window before cleaning" />
      <img src="/assets/images/work/pv_after.png" class="after" alt="PV window after cleaning" />
    </div>

    <div class="img-card">
      <img src="/assets/images/work/filthy_animal_before.jpg" class="before" alt="Extremely dirty window before cleaning" />
      <img src="/assets/images/work/filthy_animal_after_1.jpg" class="after" alt="Sparkling clean window after cleaning" />
    </div>

    <div class="img-card">
      <img src="/assets/images/work/pita_before_3.jpg" class="before" alt="Pita Jungle storefront before cleaning" />
      <img src="/assets/images/work/pita_after_3.jpg" class="after" alt="Pita Jungle storefront after cleaning" />
    </div>

  </div>

  <button class="clean-btn clean-btn--before" id="cleanBtn">
    Clean Me!
  </button>
</section>
