<div class="collage">
  <div class="grid">
    <!-- First 4 images -->
    <div class="img-wrapper">
      <img src="./assets/images/before_1.png" class="img-tile" />
      <div class="black-overlay"></div>
    </div>
    <div class="img-wrapper">
      <img src="./assets/images/before_2.png" class="img-tile" />
      <div class="black-overlay"></div>
    </div>
    <div class="img-wrapper">
      <img src="./assets/images/before_3.png" class="img-tile" />
      <div class="black-overlay"></div>
    </div>
    <div class="img-wrapper">
      <img src="./assets/images/before_4.png" class="img-tile" />
      <div class="black-overlay"></div>
    </div>

    <!-- Glow button center -->
    <div class="img-tile glow-box">
      <div id="beforelabel">BEFORE</div>
      <div class="circle-button" id="toggleBtn"><span id="buttonText">CLEAN ME</span></div>
    </div>

    <!-- Last 4 images -->
    <div class="img-wrapper">
      <img src="./assets/images/before_5.png" class="img-tile" />
      <div class="black-overlay"></div>
    </div>
    <div class="img-wrapper">
      <img src="./assets/images/before_6.png" class="img-tile" />
      <div class="black-overlay"></div>
    </div>
    <div class="img-wrapper">
      <img src="./assets/images/before_7.png" class="img-tile" />
      <div class="black-overlay"></div>
    </div>
    <div class="img-wrapper">
      <img src="./assets/images/before_8.png" class="img-tile" />
      <div class="black-overlay"></div>
    </div>
  </div>

  <canvas id="effectCanvas"></canvas>
</div>
