<div class="the_work_container">
    <div class="work-grid">
        <div class="talent_container">
            <p class="title"> What We Clean </p>
            <div class="service-box">
                <div class="logo-box">
                    <img src = "./assets/images/services/1.png"/>
                </div>
                <div class="name-box">
                    <p class="title"> Window Panes </p>
                </div>
            </div>
            <div class="service-box">
                <div class="logo-box">
                  <img src = "./assets/images/services/4.png"/>
                </div>
                <div class="name-box">
                    <p class="title"> Frames & Ledges </p>
                </div>
            </div>
            <div class="service-box">
                <div class="logo-box">
                  <img src = "./assets/images/services/2.png"/>
                </div>
                <div class="name-box">
                    <p class="title"> Doors & Railings </p>
                </div>
            </div>
            <div class="service-box">
                <div class="logo-box">
                  <img src = "./assets/images/services/3.png"/>
                </div>
                <div class="name-box">
                    <p class="title"> Screens </p>
                </div>
            </div>
        </div>
        <div class="process_container">

          <div class="view_container">

            <div class="work-box">
              <img class="before--1 before window" src = "./assets/images/before_7.png"/>
              <img class="after--1 after window" src = "./assets/images/after_7.png"/>
          </div>
          <div class="work-box">
            <img class="before--1 before window" src = "./assets/images/before_1.png"/>
            <img class="after--2 after window" src = "./assets/images/after_1.png"/>
          </div>

          <div class="work-box">
            <img class="before--1 before window" src = "./assets/images/before_6.png"/>
            <img class="after--3 after window" src = "./assets/images/after_6.png"/>
          </div>
          <div class="work-box">
            <img class="before--1 before window" src = "./assets/images/before_4.png"/>
            <img class="after--4 after window" src = "./assets/images/after_4.png"/>
        </div>


        </div>

    </div>

</div>
