<div class="values_wrapper">

  <section class="company_values_container">

    <div class="company_values_background"></div>

    <div class="company_values_container--content">

      <div class="content_value_container">

        <div class="content_value_container--title">

          <h2 class="content_value_text content_value_text--title">
             Our Values
          </h2>

          <h4 class="content_value_text content_value_text--subtitle">They are fundamental to our success</h4>

          <br />

          <p class="content_value_text content_value_text--learn">
            Learn More
            <span class="underline-const"></span>
            <span class="underline"></span>
          </p>

        </div>

        <div class="content_value_container--value">

            <div class="value_detail_container">

              <div class="row value_detail_row">

                <div class="col-6 value_detail_col">

                  <div class="value_detail_box value_detail_box--1">

                    <img src = "/assets/images/character/1.png"/>
                    <p class="title">
                      Passion to Learn
                    </p>

                  </div>

                </div>

                <div class="col-6 value_detail_col">

                  <div class="value_detail_box value_detail_box--2">

                    <img src = "/assets/images/character/2.png"/>

                    <p class="title">
                      Reward Integrity
                    </p>

                  </div>

                </div>

                <div class="col-6 value_detail_col">

                  <div class="value_detail_box value_detail_box--3">

                    <img src = "/assets/images/character/3.png"/>
                    <p class="title">
                     Community Service
                    </p>

                  </div>

                </div>

                <div class="col-6 value_detail_col">

                  <div class="value_detail_box value_detail_box--4">

                    <img src = "/assets/images/character/4.png"/>
                    <p class="title">
                       Drive to Satisfy
                    </p>

                  </div>

                </div>

              </div>

            </div>

        </div>

        <span class="value_banner"></span>

      </div>

    </div>


  </section>

  <section class="company_values_container--mobile">

    <h4 class="title">
      We Love being part of the community
    </h4>

    <strong class="divider">...............................</strong>

    <p class="description">

    </p>

    <button class="learn-more btn"> Learn More </button>

    <div class="photo-grid">

      <img class="photo-1 photo" src = "./assets/images/before_1.png"/>
      <img class="photo-2 photo" src = "./assets/images/before_1.png"/>
      <img class="photo-3 photo" src = "./assets/images/before_1.png"/>
      <img class="photo photo-4" src = "./assets/images/before_1.png"/>
      <img class="photo-4 photo" src = "./assets/images/before_1.png"/>
      <img class="photo-5 photo" src = "./assets/images/before_1.png"/>
      <img class="photo-6 photo" src = "./assets/images/before_1.png"/>
      <img class="photo-7 photo" src = "./assets/images/before_1.png"/>
      <img class="photo-8 photo" src = "./assets/images/before_1.png"/>

    </div>

  </section>

</div>
