<div class="company_values_container">

  <div class="company_values_background"></div>

  <div class="company_values_container--content">

    <div class="content_value_container">

      <div class="content_value_container--title">

        <p class="content_value_text content_value_text--title">
           Our Values
        </p>

        <p class="content_value_text content_value_text--subtitle">They are fundamental to our success</p>

        <br />

        <p class="content_value_text content_value_text--learn">
          Learn More
          <span class="underline-const"></span>
          <span class="underline"></span>
        </p>

      </div>

      <div class="content_value_container--value">

          <div class="value_detail_container">

            <div class="row value_detail_row">

              <div class="col-6 value_detail_col">

                <div class="value_detail_box">

                  <img src = "/assets/images/character/1.png"/>
                  <p class="title">
                    Work Hard, Have Fun
                  </p>

                </div>

              </div>

              <div class="col-6 value_detail_col">

                <div class="value_detail_box">

                  <img src = "/assets/images/character/2.png"/>

                  <p class="title">
                    Reward Integrity
                  </p>

                </div>

              </div>

              <div class="col-6 value_detail_col">

                <div class="value_detail_box">

                  <img src = "/assets/images/character/3.png"/>
                  <p class="title">
                   Serve the Community
                  </p>

                </div>

              </div>

              <div class="col-6 value_detail_col">

                <div class="value_detail_box">

                  <img src = "/assets/images/character/4.png"/>
                  <p class="title">
                     Driven to Satisfy
                  </p>

                </div>

              </div>

            </div>

          </div>

      </div>

      <span class="value_banner"></span>

    </div>

  </div>

</div>
