
<section class="why_choose_us_container">
  <h2 class="section_text">
    <strong>Why</strong> Choose Us
  </h2>

  <img class="watermark" src="/assets/images/values/build_2.png" alt="Arizona Watermark Illustration" />

  <div class="grid_why_us">
    <div class="why_us_card">
      <img class="why_us_img" src="/assets/images/values/4.png" alt="Helping Hands Icon">
      <p class="why_us_text">Personable Service</p>
    </div>
    <div class="why_us_card">
      <img class="why_us_img" src="/assets/images/values/6.png" alt="Dollar Sign Icon">
      <p class="why_us_text">Competitive Pricing</p>
    </div>
    <div class="why_us_card">
      <img class="why_us_img" src="/assets/images/values/5.png" alt="Heart with Hands Icon">
      <p class="why_us_text">Insured Employees</p>
    </div>
  </div>
</section>
