<div class="why_choose_us_container">

  <h1 class="section_text">
      <strong class="section_text--title">Why</strong>
      Choose Us
  </h1>

  <img class="watermark" src= "/assets/images/values/build_2.png"/>


  <div class="row why_us_row">

    <div class="col-4 why_us_col">

      <div class="why_us_inner_container">
        <img class="why_us_img wi-1" src = "/assets/images/values/4.png"/>
        <h3 class="why_us_text wt-1"> Personable Service </h3>
      </div>

    </div>

    <div class="col-4 why_us_col">

      <div class="why_us_inner_container">
        <img class="why_us_img wi-2" src = "/assets/images/values/6.png"/>
        <h3 class="why_us_text wt-2"> Competitive Pricing </h3>
      </div>

    </div>

    <div class="col-4 why_us_col">

      <div class="why_us_inner_container">
        <img class="why_us_img wi-3" src = "/assets/images/values/5.png"/>
        <h3 class="why_us_text wt-3"> Insured Employees </h3>
      </div>

    </div>

  </div>

</div>
