<div class="why_choose_us_container">

  <p class="section_text">
      <strong class="section_text--title">Why</strong>
      Choose Us
  </p>

  <img class="watermark" src= "/assets/images/values/build_2.png"/>


  <div class="row why_us_row">

    <div class="col-4 why_us_col">

      <div class="why_us_inner_container">
        <img class="why_us_img" src = "/assets/images/values/4.png"/>
        <p class="why_us_text"> Personable Service </p>
      </div>

    </div>

    <div class="col-4 why_us_col">

      <div class="why_us_inner_container">
        <img class="why_us_img" src = "/assets/images/values/6.png"/>
        <p class="why_us_text"> Competitive Pricing </p>
      </div>

    </div>

    <div class="col-4 why_us_col">

      <div class="why_us_inner_container">
        <img class="why_us_img" src = "/assets/images/values/5.png"/>
        <p class="why_us_text"> Insured Employees </p>
      </div>

    </div>

  </div>

</div>
