<div class="labor_modal--add" active ="0">

  <p class="title" id= "labor_title"> Add Prospect </p>
  <p id = "exitaddlabor">X</p>
  <form id="laborer_form">

    <div class=" quote_detail_input--mid">

      <label>
        Name (Required)
      </label>

      <input  placeholder="Enter Name" name = "name" class="form-control quote_detail_input">

    </div>

    <div class=" quote_detail_input--mid">

      <label>
        Username
      </label>

      <input  placeholder="Enter Display Name" name = "username" class="form-control quote_detail_input">

    </div>

    <div class=" quote_detail_input--mid">

      <label>
        Email
      </label>

      <input placeholder="Enter Email" name = "email" class="form-control quote_detail_input">

    </div>


    <div class=" quote_detail_input--mid">

      <label>
        Hire Date
      </label>

      <input type="date" placeholder="Enter Hire Date" name = "hired_date" class="form-control quote_detail_input quote_detail_input--full">

    </div>

    <div class=" quote_detail_input--mid">

      <label>
        Position :
      </label>

      <select name="position" id="position">
         <option value="404">Unassigned</option>
         <option value="0">Window Cleaner</option>
         <option value="1"">Sales</option>
         <option value="3"">Third Party</option>
     </select>

    </div>

    <button class="add_labor_button"> Submit </button>

  </form>

</div>
