<div class="row clock_visual_row">

  <div class="col-4 clock_visual_col  ">

    <div class="relative">

      <img class="clock_visual_img width-100" src = "./assets/images/1.png"/>

      <div class="clock_knob">

        <div class="clock_knob--short">
          <div class="clock_knob--root"></div>
          <div class="clock_knob--line"></div>
        </div>

        <div class="clock_knob--long">
          <div class="clock_knob--root"></div>
          <div class="clock_knob--line"></div>
        </div>

      </div>

    </div>

  </div>

  <div class="col-2 clock_visual_col--divider"></div>

  <div class="col-5 clock_visual_col--text">

      <div class="clock_visual_text_container">

        <p class="clock_text--title clock_text">48 Hour Raincheck Guarantee!</p>

        <p class="clock_text--description clock_text">
            We know that one of the most annoying things with windows is paying to have them clean only for it to rain the next day. That is why it is our promise that if it rains within 48-hours of us cleaning
            your establishment or residence we will come back whenever is best avaiable for you and clean the exterior for free!
        </p>

      </div>

  </div>

</div>
