<div class="showcase_container relative">

  <div id="showcase_number"> 480-822-0511 </div>
  <div class="dirty_background"></div>

  <div class="landing_background--about">

      <div class="text-container">
        <p class="title"> Contact Us Today!</p>
        <p class="subtitle"> Call us today and soak in the Arizona sunsets with a spotless view! </p>
        <p class="subtitle--button"> Save 15% Off First Service! </p>

      </div>
      <!-- <script src = "./assets/js/user/new_landing.js">


     </script> -->
     <div class="hero-container">
     <img class="hero" src = "./assets/images/contact_knight2.png">
     <div class="glow"></div>
     </div>
  </div>

</div>
