<div class="showcase_container relative">

  <div id="showcase_number"> 480-822-0511 </div>
  <div class="dirty_background"></div>

  <div class="landing_background--about">

      <div class="text-container">
        <p class="title"> Contact Us Today!</p>
        <p class="subtitle"> Call us today and soak in the Arizona sunsets with a spotless view! </p>
        <!-- <button class="rainbow-border"><a href="/book" class="cta-button glow-button">Get 20% Off Recurring Services</a></button> -->
        <button class="glass-deal-btn">
              Get 20% Off Recurring Services
            </button>
      </div>
      <!-- <script src = "./assets/js/user/new_landing.js">


     </script> -->
     <div class="hero-container">
     <img class="hero" src = "./assets/images/contact_knight2.png"  alt = "A knight in shining armor holding a squegee as a weapon and also a phone">
     <div class="glow"></div>
     </div>
  </div>

</div>
