  <div class = "progress_clean_container">

    <p class = "progress_clean"> What We Clean </p>

    <div class = "row progress_clean_row" >

      <div class = "clean_arrow clean_arrow--left clean_arrow--visible">
          <img class = "clean_arrow_img clean_arrow--left" src = "./assets/images/arrow.png">
      </div>

      <div class = "clean_arrow clean_arrow--right clean_arrow--visible">
          <img class = "clean_arrow_img clean_arrow--right " src = "./assets/images/arrow.png"/>
      </div>

        <div class = "col-7 mobile-col-12 desktop_only progress_clean_col--bubble">

          <div class = "progress_clean_container--bubble">

            <div class = "progress_clean_bubble progress_clean_bubble--active">

              <p class = "progress_clean_text--bubble">
                1
              </p>

            </div>

            <div class = "progress_clean_container--line clean_line_active"> </div>

            <div class = "progress_clean_bubble progress_clean_bubble--2">

              <p class = "progress_clean_text--bubble">
                2
              </p>

            </div>

            <div class = "progress_clean_container--line"></div>

            <div class = "progress_clean_bubble progress_clean_bubble--3" >

              <p class = "progress_clean_text--bubble">
                3
              </p>

            </div>

            <div class = "progress_clean_container--line"></div>

            <div class = "progress_clean_bubble progress_clean_bubble--4">

              <p class = "progress_clean_text--bubble">
                4
              </p>

            </div>

        </div>

      </div>

      <div class = "col-4 mobile-col-12 progress_clean_col--steps ">

        <div class = "step_box progress_clean_container--steps">

           <p class = "progress_clean_text--title">
             1.Window Panes
           </p>

           <ul class = "progress_clean_list--steps">

            <li class = "progress_clean_list--steps_">
               We will make sure both the inside and outside of the window glass will be spotless
            </li>

            <li class = "progress_clean_list--steps_">
              Our team can clean up to 2 story buildings
            </li>

            <li class = "progress_clean_list--steps_">
               We remove all streaks so its like we were never there!
            </li>

          </ul>

          <div class = "progress_clean_divider--line"> </div>

        </div>

      </div>

  </div>

</div>
