<div class="signal_container">
  <canvas id="rainCanvas"></canvas>
    <div class="text-container">
      <p class="title"> 3 Day Rain Check Guarantee </p>
      <p class="subtitle"> We know how it feels when it rains after a window cleaning </p>

      <p class="description"> Thats why if rains within 3 days of us cleaning your windows we will clean the exterior for free!</p>

    </div>

    <div class="relative cityscape">

      <img src = "./assets/images/s1.png" class = "spotlight"/>
      <img src = "./assets/images/s2.png" class = "city"/>

      <div class="circle-light">
        <div class="light"></div>
        <img src="./assets/images/pop.png" class="her"/>
      </div>

    </div>

</div>
