<section class="gates-section-unique">
    <h1 class="title gate-title">Find Us On Social Media!</h1>
    <!-- <p class="subtitle">Opening the gates of operation to brighten your world.</p> -->
    <div class="gates-unique" id="gates-unique">
        <div class="gate-left-unique">
          <img src = "./assets/images/az3.png">
        </div>
        <div class="gate-right-unique">
          <img src = "./assets/images/az2.png">

        </div>
        <div class="hours-unique">
            <h1 class="title">Social Media Links</h1><br>
            <div class="grid-container-hours">
              <div>
                <img src = "./assets/images/nextdoor.png" class="icon icon-s-1" />
                <p class="social_title social_title1">@thewindowknight</p>
              </div>
              <div>
                <img src = "./assets/images/insta.png" class="icon icon-s-2" />
                <p class="social_title social_title2">@marco_the_window_knight</p>
              </div>
              <div>
              <img src = "./assets/images/google.png" class="icon icon-s-3" />
              <p class="social_title social_title3">@The Window Knight</p>

              </div>
              <div>
              <img src = "./assets/images/linkden.png" class="icon icon-s-4" />
              <p class="social_title social_title4">@the_window_knight</p>

              </div>
            </div>
        </div>
    </div>
</section>

<script>
    function toggleGates() {
        const gates = document.getElementById('gates-unique');
        gates.classList.toggle('open');
    }
</script>
